<div class="nooz">I_CON
<a class="newswire" rel="bookmark" href="A_RTICLELINK">H_EADING</a>
<span class="newsauthor">A_UTHOR</span>
<span class="date">D_ATE</span> 
<span class="comments">N_C_SYMBOL</span></div>
