<a href="/donate" id="notice-donate-link" title="Support Independent Media — Donate Now">
	<!-- #header donate box -->
	<div id="notice-donate">
		<div id="notice-donate-inner">
			<div id="donate-message">
	      We did it!
				<!-- Indybay only asks when we really need your help and now we do. -->
				<br />
				<span>Thanks for supporting Indybay.</span>
				<!-- <span class="rednote">Donate Now</span> -->
			</div>
			<div id="donate-progress">
				Progress toward goal:
				<div id="donate-progress-bar">
					<div id="donate-progress-bar-color"></div>
				</div>
				<span id="donate-fundraiser-raised">Total needed:</span> <span id="donate-fundraiser-sought"></span>
			</div>
		</div>
	</div>
</a>
<!-- this is for inserting special notices on the site w/o touching code -->

<!-- #right side box -->
<!-- <div id="notice-responsive">
	Indybay.org now plays nice with your mobile device. Check it out on your phone or tablet.
</div> -->
