@charset "UTF-8";
/*
  Notices CSS
*/

/* this is for inserting special notices on the site w/o touching code */

#notices,
#notices div {
  display: none;
}
#notice-responsive {
  display: none;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: -110px;
  width: 80px;
  padding: 10px;
  background-color: #d4dce8;
  border: 1px solid #666;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
}
#notice-donate-link {
  display: block;
  text-decoration: none;
}
#notice-donate {
  margin: 0 0 10px 0;
  padding: 10px;
  color: #000;
  /* background-color: #fdd9ae; */
  border: 1px solid #999;
  border-radius: 10px;
  box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.4);
  overflow: auto;
}
/* #notice-donate:hover {
  background-color: #fee4c4;
} */
#notice-donate-inner {
  display: table;
  width: 90%;
  margin: 0 auto;
}
#donate-message {
  display: table-cell;
  vertical-align: middle;
  width: 53%;
  /* margin: 0 3%; */
  padding: 0 0 10px 0;
  font-family: "Arial Black", Arial, Helvetica, Sans-Serif;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: bold;
  text-align: center;
  /* float: left; */
}
#donate-progress {
  display: table-cell;
  width: 35%;
  margin: 0 3%;
  line-height: 1.3;
  text-align: center;
  /* float: left; */
}
.blurbtext #donate-progress {
  display: block;
  float: left;
}
.blurbtext #donate-progress {
  width: 60%;
  margin: 30px 0 30px 5%;
  font-size: .85rem;
}
#donate-progress-bar {
  width: 80%;
  margin: 6px auto 4px;
  background-color: #fff;
  border: 1px solid #111;
}
#donate-progress-bar-color {
  width: 2%;
  background-color: #c00;
}
#donate-progress-bar,
#donate-progress-bar-color {
  height: 15px;
}
#donate-progress,
#donate-progress span.donate-fundraiser-raised,
#donate-progress span.donate-fundraiser-sought {
  line-height: 1.3;
}

/* smaller than desktop */
@media (max-width: 970px) {

  #notice-donate {
    margin: 0 0 15px 0;
  }
  #notice-donate-inner {
    width: 90%;
  }
  #donate-progress-bar,
  #donate-progress-bar-color {
    height: 15px;
  }

}


/* smaller than desktop */
@media (max-width: 769px) {

  .blurbtext #donate-progress {
    width: 50%;
  }

}


/* smaller than 540 */
@media (max-width: 550px) {

  #notice-donate-inner {
    width: 100%;
  }
  #donate-progress-bar {
    margin: 8px auto 6px;
  }
  .blurbtext #donate-progress {
    width: 40%;
  }

}
/* smaller than 480 */
@media (max-width: 480px) {

  .blurbtext #donate-progress {
    width: 80%;
    margin: 0 auto 30px;
    float: none;
  }

}


/* widescreen */
@media (min-width: 1300px) {

  #siteinner #notice-responsive {
    display: block;
  }
  body.admin #notice-responsive {
    display: none;
  }

}
