
		<td class="bgaccent">
			<strong>Organizer/Author:</strong>
		</td>
		<td class="bgsearchgrey">
			TPL_LOCAL_DISPLAYED_AUTHOR_NAME
		</td>
	</tr>

	<tr>
		<td class="bgaccent">

			<strong>Contact Phone:</strong>
		</td>
		<td class="bgsearchgrey">
			TPL_LOCAL_PHONE
		</td>
	</tr>
		<tr>
		<td class="bgaccent">

			<strong>Contact Address:</strong>
		</td>
		<td class="bgsearchgrey">
			TPL_LOCAL_ADDRESS
		</td>
	</tr>
	<tr>
		<td class="bgaccent" colspan="2">
			<strong>DESCRIPTION:</strong>

		</td>
	</tr>
