
<h3>{{ TPL_FILENAME_HEADER|raw }}</h3>
<bR>
<table width=400>
<tr><td>
{{ TPL_CSS_VIEWER_INFO|raw }}
</td></tr></table>
<br />
<form method="post">
<br />
{{ TPL_SEARCH_STRING|raw }} 1:<input type="text" name="str1" value="{{ TPL_FILTER1|raw }}">
<br />
{{ TPL_SEARCH_STRING|raw }} 2:<input type="text" name="str2" value="{{ TPL_FILTER2|raw }}">
<br />
<input type="submit" name="filter" value="{{ TPL_FILTER|raw }}">
<br />
{{ TPL_INSERT_FILENAME|raw }}
<br />
<input name="save" type="Submit" value="{{ TPL_SAVE|raw }}">
<BR>
<textarea name="contents" cols="100" rows="20">{{ TPL_CONTENTS|raw }}</textarea>
<br />
<input name="save" type="Submit" value="{{ TPL_SAVE|raw }}">
</form>
