<h3>{{ TPL_FILENAME|raw }}</h3>
<table width=400>
<tr><td>
WARNING: This Lets You Edit Live Files On The Site!! 
<br />
We have unix permissions such that you cant change most files but there is still a risk.
</td></tr></table>
<br />
<form method="post">
<input type="hidden" name="filename" value="{{ TPL_FILENAME|raw }}">
<input type="submit" name="filter" value="{{ TPL_FILTER|raw }}">
<br />
<input name="save" type="Submit" value="{{ TPL_SAVE|raw }}">
<BR>
<textarea name="contents" cols="100" rows="20">{{ TPL_CONTENTS|raw }}</textarea>
<br />
<input name="save" type="Submit" value="{{ TPL_SAVE|raw }}">
</form>
