<big><strong>{{ TPL_FILENAME|raw }}</strong></big>
<br />
<form method="get">
<br />
IP lookup: <input type="text" name="ip" value="{{ TPL_IP|raw }}" /> {{ TPL_HOST|raw }}
<br />
search string 1: <input type="text" name="str1" value="{{ TPL_FILTER1|raw }}" />
<br />
search string 2: <input type="text" name="str2" value="{{ TPL_FILTER2|raw }}" />
<br />
delete the log file <input type="checkbox" name="delete" value="true" />
<br />
<input type="hidden" name="filename" value="{{ TPL_FILENAME|raw }}" />
<input type="submit" value="Filter" />
<br />
<pre style="font-size: 11px">{{ TPL_CONTENTS|raw }}</pre>
</form>
