<a href="/search/advanced_search.php?topic_id={{ TPL_LOCAL_TOPIC_ID }}&amp;region_id={{ TPL_LOCAL_REGION_ID }}&amp;media_type_grouping_id={{ TPL_LOCAL_MEDIA_TYPE_GROUPING_ID }}&amp;include_comments={{ TPL_LOCAL_INCLUDE_COMMENTS }}&amp;date_range_start_day={{ TPL_LOCAL_DATE_RANGE_START_DAY }}&amp;date_range_start_month={{ TPL_LOCAL_DATE_RANGE_START_MONTH }}&amp;date_range_start_year={{ TPL_LOCAL_DATE_RANGE_START_YEAR }}&amp;date_range_end_day={{ TPL_LOCAL_DATE_RANGE_END_DAY }}&amp;date_range_end_month={{ TPL_LOCAL_DATE_RANGE_END_MONTH }}&amp;date_range_end_year={{ TPL_LOCAL_DATE_RANGE_END_YEAR }}&amp;search_date_type={{ TPL_LOCAL_DATE_TYPE }}&amp;search={{ TPL_LOCAL_SEARCH|raw }}&amp;include_posts={{ TPL_LOCAL_INCLUDE_POSTS }}&amp;include_attachments={{ TPL_LOCAL_INCLUDE_ATTACHMENTS }}&amp;include_blurbs={{ TPL_LOCAL_INCLUDE_BLURBS }}&amp;include_events={{ TPL_LOCAL_INCLUDE_EVENTS }}">{{ TPL_SEARCH_ADVANCED }}</a>

<a href="/syn/generate_rss.php?topic_id={{ TPL_LOCAL_TOPIC_ID }}&amp;region_id={{ TPL_LOCAL_REGION_ID }}&amp;media_type_grouping_id={{ TPL_LOCAL_MEDIA_TYPE_GROUPING_ID }}&amp;include_comments={{ TPL_LOCAL_INCLUDE_COMMENTS }}&amp;date_range_start_day={{ TPL_LOCAL_DATE_RANGE_START_DAY }}&amp;date_range_start_month={{ TPL_LOCAL_DATE_RANGE_START_MONTH }}&amp;date_range_start_year={{ TPL_LOCAL_DATE_RANGE_START_YEAR }}&amp;date_range_end_day={{ TPL_LOCAL_DATE_RANGE_END_DAY }}&amp;date_range_end_month={{ TPL_LOCAL_DATE_RANGE_END_MONTH }}&amp;date_range_end_year={{ TPL_LOCAL_DATE_RANGE_END_YEAR }}&amp;search_date_type={{ TPL_LOCAL_DATE_TYPE }}&amp;search={{ TPL_LOCAL_SEARCH|raw }}&amp;include_posts={{ TPL_LOCAL_INCLUDE_POSTS }}&amp;include_attachments={{ TPL_LOCAL_INCLUDE_ATTACHMENTS }}&amp;include_blurbs={{ TPL_LOCAL_INCLUDE_BLURBS }}&amp;include_events={{ TPL_LOCAL_INCLUDE_EVENTS }}"><img src="/images/feed-icon-16x16.png" alt="RSS" /></a>

<input type="hidden" name="search" value ="{{ TPL_LOCAL_SEARCH|raw }}">

<input type="hidden" name="topic_id" value ="{{ TPL_LOCAL_TOPIC_ID }}">

<input type="hidden" name="region_id" value ="{{ TPL_LOCAL_REGION_ID }}">

<input type="hidden" name="media_type_grouping_id" value ="{{ TPL_LOCAL_MEDIA_TYPE_GROUPING_ID }}">

<input type="hidden" name="include_comments" value ="{{ TPL_LOCAL_INCLUDE_COMMENTS }}">

<input type="hidden" name="include_attachments" value ="{{ TPL_LOCAL_INCLUDE_ATTACHMENTS }}">

<input type="hidden" name="include_posts" value ="{{ TPL_LOCAL_INCLUDE_POSTS }}">
<input type="hidden" name="include_events" value ="{{ TPL_LOCAL_INCLUDE_EVENTS }}">

<input type="hidden" name="include_blurbs" value ="{{ TPL_LOCAL_INCLUDE_BLURBS }}">

<input type="hidden" name="search_date_type" value ="{{ TPL_LOCAL_DATE_TYPE }}">

<input type="hidden" name="date_range_start_day" value ="{{ TPL_LOCAL_DATE_RANGE_START_DAY }}">
<input type="hidden" name="date_range_start_month" value ="{{ TPL_LOCAL_DATE_RANGE_START_MONTH }}">
<input type="hidden" name="date_range_start_year" value ="{{ TPL_LOCAL_DATE_RANGE_START_YEAR }}">

<input type="hidden" name="date_range_end_day" value ="{{ TPL_LOCAL_DATE_RANGE_END_DAY }}">
<input type="hidden" name="date_range_end_month" value ="{{ TPL_LOCAL_DATE_RANGE_END_MONTH }}">
<input type="hidden" name="date_range_end_year" value ="{{ TPL_LOCAL_DATE_RANGE_END_YEAR }}">
<inpit type="hidden" name="submitted_search" value="1" />
