
{{ TPL_STATUS_MESSAGES|raw }}

<div class="list-search">
<form method="GET" action="index.php">
{{ TPL_TOP_SEARCH_FORM|raw }}

{{ TPL_NAV|raw }}
</form>
</div>


{{ TPL_TABLE_MIDDLE|raw }}


<div class="list-search list-search-bottom">
<form method="get" action="index.php">
{{ TPL_NAV|raw }}
{{ TPL_TOP_SEARCH_FORM|raw }}
</form>
</div>
