<h3><big>Spam</big></h3>

<ul>
<li><h3><a href="/admin/log/file_viewer.php?filename=ip_log.txt">{{ TPL_SPAM_LOG|raw }}</a></h3></li>
<li><h3><a href="/admin/log/file_viewer.php?filename=next_ip_to_block.txt">{{ TPL_SPAM_BLOCKED|raw }}</a></h3></li>
<li><h3><a href="/admin/log/file_viewer.php?filename=ipblock.log">{{ TPL_SPAM_BLOCKLOG|raw }}</a></h3></li>
</ul>

