
<input type="hidden" name="search" value ="{{ TPL_LOCAL_SEARCH|raw }}">

<input type="hidden" name="topic_id" value ="{{ TPL_LOCAL_TOPIC_ID|raw }}">

<input type="hidden" name="region_id" value ="{{ TPL_LOCAL_REGION_ID|raw }}">

<input type="hidden" name="media_type_grouping_id" value ="{{ TPL_LOCAL_MEDIA_TYPE_GROUPING_ID|raw }}">

<input type="hidden" name="include_comments" value ="{{ TPL_LOCAL_INCLUDE_COMMENTS|raw }}">

<input type="hidden" name="include_attachments" value ="{{ TPL_LOCAL_INCLUDE_ATTACHMENTS|raw }}">

<input type="hidden" name="include_posts" value ="{{ TPL_LOCAL_INCLUDE_POSTS|raw }}">
<input type="hidden" name="include_events" value ="{{ TPL_LOCAL_INCLUDE_EVENTS|raw }}">

<input type="hidden" name="include_blurbs" value ="{{ TPL_LOCAL_INCLUDE_BLURBS|raw }}">

<input type="hidden" name="search_date_type" value ="{{ TPL_LOCAL_DATE_TYPE|raw }}">

<input type="hidden" name="date_range_start_day" value ="{{ TPL_LOCAL_DATE_RANGE_START_DAY|raw }}">
<input type="hidden" name="date_range_start_month" value ="{{ TPL_LOCAL_DATE_RANGE_START_MONTH|raw }}">
<input type="hidden" name="date_range_start_year" value ="{{ TPL_LOCAL_DATE_RANGE_START_YEAR|raw }}">

<input type="hidden" name="date_range_end_day" value ="{{ TPL_LOCAL_DATE_RANGE_END_DAY|raw }}">
<input type="hidden" name="date_range_end_month" value ="{{ TPL_LOCAL_DATE_RANGE_END_MONTH|raw }}">
<input type="hidden" name="date_range_end_year" value ="{{ TPL_LOCAL_DATE_RANGE_END_YEAR|raw }}">
<inpit type="hidden" name="submitted_search" value="1" />
