<h3>{{ TPL_ADMIN_ENTER|raw }} {{ TPL_SITENICK|raw }}</h3>

<form name="logon_form" action="/admin/authentication/authenticate.php" method="post">

{{ TPL_LOCAL_ERROR|raw }}

<p><a href="/">{{ TPL_RETURN_TO_SITE|raw }}</a></p>

<pre><big>{{ TPL_USERNAME|raw }}: <input tabindex="1" name="username1" value="{{ TPL_LOCAL_USERNAME|raw }}" />

{{ TPL_PASSWORD|raw }}: <input tabindex="2" type="password" name="password" value="" />

          <input tabindex="3" type=submit name="logon" value="logon" />
</big></pre>

<input type="hidden" name="goto" value="{{ TPL_GOTO|raw }}" />

</form>
