{{ TPL_LEFT|raw }}
						<tr>
							<td class="bgcities">
								<table cellpadding="7" cellspacing="0" border="0" width="100%">
									<tr valign="top">
										<td>
											<p>
												<small><strong>IMC Network:</strong> {{ TPL_IMC_LIST|raw }}</small>
											</p>
											<p>
												<small>{{ TPL_DISCLAIMER|raw }}</small>
											</p>				
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
