<tr>
	<td bgcolor="#770000" align="left">
		<font size="2" color="white" face="arial">TITLE1</font>
	</td>
	<td align="right" valign="top" bgcolor="#770000" width="80">
		<font size="-2" color="white" face="arial">CRDATE</font>
	</td>
</tr>
<tr>
	<td colspan="2">
		<font size="+1" face="arial"><strong>TITLE2</strong></font><br />
		<font face="arial" size="-1">SUMMARY</font>
	</td>
</tr>
