<div class="story-html">
<a name="{{ TPL_LOCAL_NEWS_ITEM_ID|raw }}" rel="bookmark"
href="/archives/archive_by_id.php?id={{ TPL_LOCAL_NEWS_ITEM_ID|raw }}"></a>
{{ TPL_LOCAL_SUMMARY|raw }}
<!-- template was short_version_html_only -->
</div>