$cache_class->safeInclude("{{ TPL_LOCAL_PATH }}"."{{ TPL_LOCAL_NEWS_ITEM_ID }}_content.html");
$news_item_id={{ TPL_LOCAL_NEWS_ITEM_ID }};
include(INCLUDE_PATH."/feature_page/single_item_feature_list.inc");
