<h2>Upload An Image</h2>

<form action="upload_add.php" enctype="multipart/form-data" method="post">
{{ TPL_RESTRICT_IMAGE_SIZE|raw }}
{{ TPL_LOCAL_SELECT_MAX_SIZE|raw }}
<br />
restrict dimensions:
<input type="checkbox" name="restrict_dimensions" value="1"/>
<!--
<br /><br />
{{ TPL_IMAGE_NAME|raw }}
<input type="text" name="image_name"  />
<br />
{{ TPL_IMAGE_ALT_TEXT|raw }}
<input type="text" name="alt_text" />
-->
<br />
<br />
<input type="hidden" name="MAX_FILE_SIZE" value="67108864" />
{{ TPL_FILE_TO_UPLOAD|raw }} : <input type="file" name="upload_file" />

<br /><br />



<input type="submit" name="upload" value="upload">
</form>
