<h3>{{ TPL_PAGES|raw }}</h3>
<a href="/admin/feature_page/blurb_add.php">{{ TPL_BLURB_ADD|raw }}</a> 
<br />

{{ TPL_STATUS_MESSAGES|raw }}
<br clear="all" />
<TABLE >
<tr><td colspan=2>
<strong>{{ TPL_OTHER_PAGES|raw }}</strong>
</td></tr>
{{ TPL_OTHER_FEATUREPAGE_TABLEROWS|raw }}
<tr><td colspan=2>&#160;</td></tr>
<tr><td colspan=2>
<strong>{{ TPL_REGION_PAGES|raw }}</strong>
</td></tr>
{{ TPL_REGION_FEATUREPAGE_TABLEROWS|raw }}
<tr><td colspan=2>&#160;</td></tr>
<tr><td colspan=2>
<strong>{{ TPL_TOPIC_PAGES|raw }}</strong>
</td></tr>
{{ TPL_TOPIC_FEATUREPAGE_TABLEROWS|raw }}
<tr><td colspan=2>&#160;</td></tr>
<tr><td colspan=2>
<strong>{{ TPL_INTERNATIONAL_PAGES|raw }}</strong>
</td></tr>
{{ TPL_INTERNATIONAL_FEATUREPAGE_TABLEROWS|raw }}
</TABLE>
<br />
<br />
<br />
<p/>
<a href="/admin/feature_page/feature_page_list.php?force_all_pages_live=1">Push All Center Columns Live</a>
<p/>
<a href="/admin/feature_page/feature_page_list.php?force_all_nonfp_pages_live=1">Push All Center Columns Live (Except For Front Page)</a>

<p/>
<a href="/admin/feature_page/feature_page_list.php?force_full_newswire_regeneration=1">Regenerate All Newswires</a>


