{{ TPL_STATUS_MESSAGES|raw }}

<div class="list-search">
<form method="get" action="/gallery/index.php">
{{ TPL_TOP_SEARCH_FORM|raw }}

{{ TPL_NAV|raw }}
</form>
</div>

<br >
<table cellpadding="5" cellspacing="5">
<tr><td valign="top">
{{ TPL_TABLE_MIDDLE|raw }}
</table>
<br />

<div class="list-search list-search-bottom">
<form method="get" action="index.php">
{{ TPL_NAV|raw }}
{{ TPL_BOTTOM_SEARCH_FORM|raw }}
</form>
</div>
