/* gf_halda_smashednormal */
@font-face {
    font-family: 'GF Halda Smashed';
    src: url('./files/gf_halda_smashed_indybay.woff2') format('woff2'),
         url('./files/gf_halda_smashed_indybay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
