BEGIN:VEVENT
UID:Indybay-{{ TPL_LOCAL_NEWS_ITEM_ID|raw }}
SEQUENCE:{{ TPL_LOCAL_NEWS_ITEM_VERSION_ID|raw }}
CREATED:{{ TPL_LOCAL_ICAL_CREATED|raw }}
SUMMARY:{{ TPL_LOCAL_TITLE|raw }}
DESCRIPTION:{{ TPL_LOCAL_DESCRIPTION|raw }}
LOCATION:{{ TPL_LOCAL_SUMMARY|raw }}
URL:{{ TPL_LOCAL_URL|raw }}
DTSTART:{{ TPL_LOCAL_ICAL_START|raw }}
DTEND:{{ TPL_LOCAL_ICAL_END|raw }}
END:VEVENT
