<table align="right" cellspacing="0" cellpadding="0" border="0" width="33.3333%"> 
	<tr>
		<td background="/images/vr.gif">
			<img src="/im/bump.gif" alt="" width="12" height="1" />
		</td>
		<td>
			<small><strong>TOP STORIES</strong></small>
		</td>
	</tr>
	<tr>
		<td background="/images/vr.gif">
			<img src="/im/bump.gif" alt="" width="12" height="1" />
		</td>
		<td>
			<small><strong><a name="FEATUREID" class="headline-text"  href="IMGLINK">TITLE2</a></strong>
			<br />SUMMARY<br /><br /></small>
		</td>
	</tr>
