<a href="/admin/article/article_edit.php?id={{ TPL_LOCAL_NEWS_ITEM_ID|raw }}">
{{ TPL_RETURN_TO_NEWSITEM|raw }}
</a>

<h3>{{ TPL_NEWS_ITEM_HISTORY|raw }}</h3>
{{ TPL_LOCAL_PREVIOUS_VERSION_LIST|raw }}