<!-- TEMPLATE  -->
<a name="{{ TPL_LOCAL_NEWS_ITEM_ID|raw }}"></a>
<div class="webcast">
  <div class="headers-comment">
    <div class="heading-comment">
      <a class="child" href="#{{ TPL_LOCAL_NEWS_ITEM_ID|raw }}"><span class="permalink">§</span>{{ TPL_LOCAL_TITLE1|raw }}</a>
    </div>
    <div class="author-comment">
      by {{ TPL_LOCAL_DISPLAYED_AUTHOR_NAME|raw }}
      <span class="nowrap author-email">{{ TPL_LOCAL_EMAIL|raw }}</span>
      <br />
      <span class="nowrap"><em>{{ TPL_LOCAL_CREATED|raw }}</em></span>
    </div>
  </div>
  {{ TPL_LOCAL_NOMEDIA1|raw }}
  <div class="media">
    {{ TPL_LOCAL_MEDIA|raw }}
  </div>
  {{ TPL_LOCAL_NOMEDIA2|raw }}
  <div class="article-comment">
    {{ TPL_LOCAL_TEXT|raw }}
  </div>
  {% if TPL_LOCAL_RELATED_URL|length %}
  <div class="link">
    <a href="{{ TPL_LOCAL_RELATED_URL|raw }}">{{ TPL_LOCAL_SHORTENED_RELATED_LINK|raw }}</a>
  </div>
  {% endif %}
</div>
<!-- END .webcast -->
<!-- /TEMPLATE -->
<div class="addcomment comment-addcomment">
  <a href="/comment.php?top_id={{ TPL_LOCAL_PARENT_ITEM_ID|raw }}">Add a Comment</a>
</div>
