@charset "UTF-8"; body {
  margin: 0;
  padding: 0;
  font: 1em/1.75em Georgia, "Century Schoolbook", "Times New Roman", Times, serif;
  color: #111;
  background: #eee;
}
#sitewrapper {
  width: 100%;
}
#siteinner {
  position: relative;
  max-width: 1040px;
  margin: 0 auto;
  border: #000;
  border-right: 1px solid rgba(0, 0, 0, 0.65);
  border-left: 1px solid rgba(0, 0, 0, 0.65);
  background: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
}
.admin #siteinner {
  overflow-x: auto;
  overflow-y: hidden;
}
.mast {
  width: 100%;
  height: 45px;
  background: #728bb0;
  border-bottom: 1px solid #000;
}
.mastimage {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  overflow: hidden;
}
.mastimage img {
  margin: 0 0 0 363px;
}
.mast-inner {
  position: absolute;
  z-index: 8;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  /* overflow: hidden; */
}
.mastleft,
.mastright {
  height: 45px;
  line-height: 1;
  overflow: hidden;
}
.mastleft {
  position: absolute;
  left: 0;
  width: 380px;
}
.masttitle {
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 10px;
  font-family: 'GF Halda Smashed';
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  line-height: 1;
  color: #fff;
  text-shadow: 1px 1px 0 #444, -1px 1px 0 #444, 1px -1px 0 #444, -1px -1px 0 #444;
  pointer-events: none;
}
.masttitleshadow {
  position: absolute;
  z-index: 2;
  top: 8px;
  left: 10px;
  font-family: 'GF Halda Smashed';
  font-weight: 400;
  font-style: normal;
  font-size: 2.2rem;
  line-height: 1;
  color: transparent;
  text-shadow: 0 0 5px #000;
  pointer-events: none;
}
.masttitle.indybay,
.masttitleshadow.indybay,
.masttitle.santacruz,
.masttitleshadow.santacruz {
  display: none;
}
.mastcheer {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.mastcheer a {
  display: inline-block;
  text-decoration: none;
}
.mastcheer img,
.mastright .headerlogo img {
  height: 45px;
  color: #728bb0;
  font: .1rem sans-serif;
  filter: drop-shadow( 3px 0 2px rgba(0, 0, 0, .7));
  pointer-events: none;
}
.mastright {
  position: absolute;
  right: 0;
  width: 320px;
}
.headerlogo {
  position: absolute;
  right: 0;
}
.headerlogo a {
  display: inline-block;
}
.headerbuttons {
  position: absolute;
  z-index: 9;
  top: 5px;
  right: 100px;
  width: 220px;
  pointer-events: none;
}
.headerbutton {
  width: 33px;
  height: 33px;
  margin: 0 0 0 16px;
  font-size: .6rem;
  line-height: 1;
  float: right;
  background-color: rgba(212,220,232,.8);
  border: 1px solid #8da3c4;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  pointer-events: auto;
}
/* .headerbutton:hover {
  border: 1px solid #c0d1ea;
  background-color: rgba(114,139,176,.9);
} */
.headerbutton.active {
  height: 36px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
  border: 1px solid #c0d1ea;
  background-color: rgba(114,139,176,1);
}
.headerbutton img {
  display: block;
  width: auto;
  height: 25px;
  margin: 4px;
  opacity: .7;
}
.headerbutton:hover img,
.headerbutton.active img {
  opacity: 1;
}
.headerbutton img {
  user-select: none;
}
#headerbutton-publish img {
  height: 21px;
  margin: 6px;
}
#headerbutton-category img {
  margin: 4px 8px;
}
#headerbutton-about img {
  height: 18px;
  margin: 8px 6px;
}
#headerbutton-admin img {
  height: 27px;
  margin: 3px;
  /* for a
  height: 29px;
  margin: 3px; */
}
.headermenus {
  position: absolute;
  z-index: 9;
  top: 42px;
  right: 100px;
  width: 212px;
}
.headermenu {
  display: none;
  width: 210px;
  border: 1px solid #c0d1ea;
}
.headermenu.active {
  display: block;
}
.headermenu a,
.headermenu a:visited,
.headermenu div span {
  display: block;
  margin: 0;
  padding: 8px 0 8px 8px;
  font-size: 1.1rem;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-align: left;
  text-decoration: none;
  background-color: rgba(114,139,176,.9);
  border-bottom: 1px solid #c0d1ea;
}
.headermenu > div:last-of-type span {
  border-top: 1px solid #c0d1ea;
}
.headermenu > div:first-of-type span,
.headermenu > div:last-of-type span.headermenu-small {
  border-top: none;
}
.headermenu div span {
  font-size: 1.15rem;
  color: #fff;
  font-weight: bold;
  background-color: rgba(114,139,176,1);
}
.headermenu .headermenu-small {
  font-size: .8rem;
  line-height: 1.3;
  font-weight: normal;
}
.headermenu a.thisfeatured,
.headermenu a:hover {
  color: #000;
  background-color: rgba(212,220,232,1);
}
.headermenu a:last-of-type {
  border-bottom: none;
}
/* .headermenu .last a:last-of-type {
  border-bottom: none;
} */
/* .headermenu div:last-of-type span {
  border-top: 1px solid #c0d1ea;
} */
.headermenu .regionmap {
  padding: 5px 0;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  background-color: rgba(114,139,176,.9);
  border-bottom: 1px solid #c0d1ea;
}
.headermenu .regionmap img {
  display: block;
  margin: 0 auto;
  border: 1px solid #c0d1ea;
}
.headermenu .headermenu-categories {
  display: block;
  /* background-color: rgba(114,139,176,.9); */
}
.headermenus .mediaicon {
  width: 16px;
  height: 16px;
  margin: 0 6px 0 0;
  float: left;
}
/* .adminnav {
  position: absolute;
  z-index: 10;
  top: 8px;
  right: 2px;
  overflow: hidden;
  pointer-events: none;
}
.adminnavitems {
  display: none;
  min-width: 220px;
  margin: 6px 0 0;
  border: 1px solid #000;
  pointer-events: auto;
}
.adminnavitem {
  background: rgba(224, 224, 224, 0.9);
  border-bottom: 1px solid #000;
}
.adminnavitem a,
.adminnavitem span {
  padding: 3px 4px;
}
.adminnavitem a {
  display: block;
}
.adminnavitem a:hover {
  color: #fff;
  text-decoration: none;
  background: #000;
  background: rgba(0, 0, 0, 0.65);
} */
/* .mastcheer a,
.mastright a {
  display: block;
} */
#headertabs {
  display: none;
  background: #000;
}
#headertabs div,
#headertabs span {
  font-size: 1.1rem;
  font-weight: normal;
}
.headertab-bttn {
  display: none;
  height: 22px;
  margin: 3px 4px 0 4px;
  padding: 5px 10px 0 10px;
  line-height: 1;
  border: 1px solid #656565;
  background: #e3e3e3;
  border-radius: .25rem .25rem 0 0;
  float: right;
  cursor: pointer;
}
.headertab-bttn.active {
  border-bottom: 1px solid #fff;
  background: #fff;
}
#headertab-newswire {
  margin-right: 15px;
}
#shadow-mast {
  position: absolute;
  display: none;
  width: 100%;
  height: 45px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: default;
}
#shadow-headertabs {
  position: absolute;
  display: none;
  width: 100%;
  /* height: 100%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: default;
}
#shadow-maincontent {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  cursor: default;
}
#maincontent {
  position: relative;
  background: #fff;
  overflow: hidden;
}
#maincontent {
  position: relative;
  background: #fff;
  overflow: hidden;
}
#maincontent>tbody>tr>td.page {
  width: 100%;
}

.pageheadbox {
  padding: 3px 10px;
  margin-bottom: 10px;
  height: 1px;
  color: #111;
  line-height: 1.3;
  background: #d4dce8;
  border: 1px solid #8da3c4;
  border-radius: .25rem;
}
.heading {
  font-size: 1.15rem;
  line-height: 1.4;
  font-weight: bold;
}
.summary {
  font-size: 1rem;
  line-height: 1.3;
  margin: 20px 7% 24px;
}
.article,
.article p {
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 12px;
}
.article-attachment,
.article-attachment p,
.article-comment,
.article-comment p {
  font-size: 1rem;
  line-height: 1.3;
  margin-top: 12px;
}
.adminlinks {
  font-size: .85rem;
  margin-top: 0;
  margin-bottom: 0;
}
.media {
  font-size: .85rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
}
.link {
  font-size: 1rem;
  padding: 0 3%;
}
address,
caption,
div,
dl,
li,
ol,
p,
ul,
td,
th,
input,
select,
option,
textarea {
  font-size: 1rem;
  line-height: 1.6;
}
input[type=text],
input[type=checkbox],
input[type=radio],
textarea,
select {
  padding: .375rem .5rem;
  color: #495057;
  font-family: Arial, Helvetica, Sans-Serif;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
input[type=text]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
textarea:focus,
textarea.error:focus,
select:focus {
  border: 1px solid #06c;
}
input[type=file] {
  border: none;
}
select#file_count {
  width: 60px;
}
select:disabled {
  opacity: .5;
}
/* new article link color from comps? #738caf */
a,
a:visited,
.insert-newslink {
  color: #164888;
  border: none;
  overflow-wrap: break-word;
}
a.newswire {
  color: #111;
}
.webcast a,
.bgult a,
/* .media a, this & following two should have comment wrap DIV like .webcast
.article a,
.link a, */
.comment_articlepreview a {
  color: #404040;
}
a:hover,
.comment_articlepreview a:hover,
.insert-newslink:hover {
  color: #06c;
}
.linklike {
  color: #164888;
  text-decoration: underline;
  cursor: pointer;
}
.linklike:hover {
  color: #06c;
}
.module-more .module-inner-horiz a {
  /* text-decoration: none; */
  color: #111;
  /* font-size: .85rem; */
}
.module-more .module-inner-horiz a:visited {
  /* text-decoration: none; */
  color: #111;
  /* font-size: .85rem; */
}
.module-more .module-inner-horiz a:hover {
  /* text-decoration: underline; */
  color: #06c;
  /* font-size: .85rem; */
}
a.headline-text {
  text-decoration: none;
  color: #16345c;
  font-weight: bold;
}
a.headline-text:visited {
  text-decoration: none;
  color: #16345c;
  font-weight: bold;
}
a.headline-text:hover {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}
a.newswire {
  text-decoration: none;
  font-size: .9rem;
  line-height: 1.2;
}
a.newswire:visited {
  text-decoration: none;
}
a.newswire:hover {
  text-decoration: underline;
}
a.publink {
  color: #111;
  text-decoration: none;
}
a.publink:visited {
  color: #111;
  text-decoration: none;
}
a.publink:hover {
  color: #111;
  text-decoration: underline;
}
a.publishlink {
  color: #c00;
  text-decoration: underline;
}
a.publishlink:visited {
  color: #c00;
  text-decoration: underline;
}
a.publishlink:hover {
  color: #ff3300;
  text-decoration: underline;
}
a.localgloballinks {
  color: #333;
  text-decoration: none;
}
a.localgloballinks:visited {
  color: #333;
  text-decoration: none;
}
a.localgloballinks:hover {
  color: #111;
  text-decoration: underline;
}
a.headlines-blurb {
  text-decoration: none;
}
a.headlines-blurb {
  text-decoration: none;
}
a.headlines-blurb:visited {
  text-decoration: none;
}
a.headlines-blurb:hover {
  text-decoration: underline;
}
big {
  font-size: 1.3rem;
  font-weight: bold;
}
small,
.feature-blurb-subhead {
  font-size: .85rem;
}
small {
  display: inline-block;
  line-height: 1.4;
}
code,
pre {
  font-family: monospace;
}
pre {
  padding: 0 10px;
}
.theme {
  font-size: .9rem;
  color: #888888;
}
.top {
  font-size: 1.08rem;
  font-weight: bold;
}
.bottom {
  color: #fff;
}
.hed {
  padding: 0 5px 5px 5px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #16345c;
}
.hedl {
  font-size: 1.4rem;
  font-weight: bold;
}
h1,
.h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
h2,
.h2 {
  font-size: 1.3rem;
  font-weight: bold;
}
h3,
.h3 {
  font-size: 1.15rem;
  font-weight: bold;
}
.newswire-more .publink {
  font-size: .9rem;
  font-weight: normal;
}
.publink {
  font-size: 1.15rem;
  font-weight: bold;
}
.eventlink {
  font-size: 1.15rem;
}
h4,
.h4 {
  font-size: 1.08rem;
  font-weight: bold;
}
h5,
.h5 {
  font-size: .9rem;
  font-weight: bold;
}
h6,
.h6 {
  font-size: .9rem;
  font-weight: bold;
}
.page-front .blurb,
.page-feature .blurb {
  display: flex;
}
.blurb {
  margin: 5px 5px 0 5px;
  font-size: 1rem;
  line-height: 1.6;
  overflow: auto;
}
.newswirehead {
  color: #111;
  text-align: center;
  font-weight: bold;
  line-height: 1.2;
  margin: 0 -3px;
  background: #d4dce8;
  padding: 3px;
  border-top: 1px solid #8da3c4;
  border-bottom: 1px solid #8da3c4;
}
.localglobal {
  color: #111;
  text-align: center;
  font-size: .9rem;
}
.localgloballinks {
  color: #111;
}
.bgaccent {
  background: #dddddd;
  color: #111;
}
.bg3 {
  background: #fff;
}
.bgult {
  background: #333;
  margin: 20px 0 12px;
}
.bgcentercol {
  background: #ddd;
}
#headernav {
  width: 100%;
  overflow: hidden;
}
.navbar {
  width: 14.282%;
  border-bottom: 1px solid #000;
  float: left;
}
.lastnavbar {
  width: 14.31%;
}
a.navbarlink {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  line-height: 1.35;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background: #728bb0;
}
a.navbarlink:hover {
  color: #111;
  background: #d4dce8;
}
.page-front .page,
.page-feature .page {
  width: 840px;
}
.page-blurb .page,
.page-article .page,
.page-event .page,
.page-comment .page,
.page-subscribe .page,
.page-search .page,
.page-search-results .page,
.page-list .page {
  width: 740px;
  margin: 0 auto;
}
.pagecontent {
  margin: 0 auto;
  padding: 4px 1% 0;
}
/* #calendarwrapper {
  margin: 0 0 10px;
} */
/* #redlinkevents {
  padding: 3px 6px;
} */
/* div.navbarcenter {
  margin: 6px 0 4px 0;
  padding: 3px 6px;
  text-align: left;
  background: #d4dce8;
  border: 1px solid #8da3c4;
  border-radius: .25rem;
} */
div.navbarcenter-calendar {
  border-radius: .25rem;
}
a.navbarcenter,
.breakbug-event a.navbarcenter {
  text-decoration: none;
  color: #111;
  font-size: .95rem;
  font-weight: bold;
}
a.navbarcenter:visited {
  text-decoration: none;
  color: #111;
  font-size: .9rem;
  font-weight: bold;
}
a.navbarcenter:hover,
.breakbug-event a.navbarcenter:hover {
  color: #111;
  text-decoration: underline;
}

.bgpenult {
  background: #fff;
  color: #333;
}
.rightcol {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background: #f8fbff;
}
div.newswire {
  height: 100%;
  color: #000;
  border-top: 0;
  padding: 3px;
  border-left: 1px solid #c0d1ea;
}
.bgsearchgrey {
  background: #efefef;
}
.detailTextLabel {
  background: #ccccee;
  color: #000;
  font-weight: bold;
}
.detailText {
  color: #000;
}
.calendar {
  font-size: .9rem;
}
table.calendar-header {
  width: 100%;
}
.calendar-header {
  font-size: .9rem;
  width: 14.28%;
}
.calendarToday {
  color: #fff;
  font-size: .9rem;
}
.calendarHighlightWeek {
  background: #ccc;
}
.bodyClass {
  background: #8da3c4;
  width: 100%;
  margin: 10px 0;
  table-layout: fixed;
}
.bgcolor {
  background: #333;
  color: #8da3c4;
}
.bgcolor3 {
  background: #666;
  color: #ddd;
}
.weekTitles {
  color: #255325;
  background: #dddddd;
  font-weight: bold;
}
td.add-link a {
  text-decoration: none;
}
td.add-link a:hover {
  text-decoration: underline;
}
.eventTitle {
  font-weight: bold;
  font-size: .9rem;
}
.module-unified {
  padding: 0 0 2px;
  background: #f8fbff;
  border-radius: .25rem;
}
.module-unified .module-inner-horiz {
  margin: 4px 0 0;
  padding: 0;
  line-height: 1.1;
  overflow: auto;
}
td.module-inner-horiz {
  font-size: .9rem;
  background: #d4dce8;
  padding: 3px;
  border-bottom: 1px solid #8da3c4;
  border-left: 1px solid #8da3c4;
  border-right: 1px solid #8da3c4;
}
.eventNav {
  font-weight: bold;
}
.eventNav3 {
  font-size: .9rem;
  margin-bottom: 6px;
}
.weeknav {
  font-size: .8rem;
}
.story {
  clear: both;
  margin: 0 1px 16px 1px;
  height: 1%;
}
.storyshort {
  clear: both;
  margin: 0 1px 12px 1px;
}
.storyshort .hed {
  padding: 0 5px 5px 5px;
}
.storyshort img {
  margin: 0 0 0 0;
}
.story-html {
  clear: both;
  margin: 0 0 0 0;
  height: 1%;
}
.storynoclear {
  margin: 3px 3px 18px 3px;
}
.shortstoryimage img {
  margin: 0 8px 8px 0;
}

.archivelink {
  clear: both;
  border: 1px solid #bfcde3;
  padding: 3px 6px;
  background: #f3f3f3;
  text-align: right;
  margin-bottom: 8px;
  border-radius: .25rem;
  /* added space when "latest features" hidden above */
}
.archivelink img,
.archivelink2 img {
  margin: 5px 2px;
}
.archivelink2 {
  border: 1px solid #111;
  padding: 3px 6px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 6px;
  background: #d4dce8;
  border: 1px solid #8da3c4;
  border-radius: .25rem .25rem 0 0;
}
.archivelink2-date {
  font-size: .9rem;
  font-weight: normal;
}
.archivelink2-categories {
  display: block;
  margin-left: 14px;
  margin-bottom: 2px;
  font-weight: normal;
}
.archivelink2 .headlines1 a {
  color: #000;
}
.archivelink2-item {
  display: block;
  padding: 0 5px;
  font-weight: bold;
}

/* STATIC SITE CATEGORY LINKS ETC, PREVIOUSLY IN LEFT COLUMN */
/* #maincontent .pagecontent .feature-bottom {
  display: block;
  margin: 6px 0;
  background: #fff;
  border: none;
} */
.module-wrappers {
  width: 100%;
  text-align: center;
  background: #fff;
}
.page-front .module-regions,
.page-front .module-intl {
  display: block;
}
.module {
  margin: 0 0 8px;
}
.module-unified {
  border-radius: 0 0 .25rem .25rem;
}
.module-unified-grey {
  background: #f3f3f3;
}
.module-unified-color {
  background: #f8fbff;
}
.module-inner {
  padding: 4px 10px;
  overflow: auto;
  border-radius: 0 0 .25rem .25rem;
}
.module-unified-border .module-header {
  border-bottom: none;
}
.module-unified-border .module-inner {
  border: 1px solid #8da3c4;
  border-top: none;
}
.headermenu .module-inner {
  padding: 0;
}
.module-inner p {
  margin: 4px;
  line-height: 1.4;
}
.module-inner-thirds {
  width: 29%;
  margin: 5px 0 0;
  padding: 0 2%;
  float: left;
}
.module-more .module-inner-thirds {
  width: 40%;
  float: none;
}
.module-inner-thirds h3 {
  margin: 0;
  color: #234c86;
}
.module-inner-thirds a {
  text-decoration: none;
}
.module-inner-thirds a:hover {
  text-decoration: underline;
}
.module-unified .module-header {
  /* margin: 0 0 4px; */
  margin: 0;
  border-radius: .25rem .25rem 0 0;
}
.module-header {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1rem;
  font-weight: bold;
  background: #8da3c4;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  clear: both;
}
/* .module-header-top {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1rem;
  font-weight: bold;
  background: #8da3c4;
  border-bottom: 1px solid #333;
} */
/* .module-header-top, */
.module-header {
  margin: 0;
  padding: 3px 6px;
  text-align: left;
  background: #d4dce8;
  border: 1px solid #8da3c4;
  border-radius: .25rem;
}
.module-header h1 {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  color: #234c86;
}
.module-inner-horiz .catheader-intro,
.module-inner-horiz .catheader-links {
  display: block;
  margin: 3px 0;
  font-size: .9rem;
  line-height: 1.3;
}
.module-inner-horiz  .catheader-links img {
  float: none;
}
/* .module-header-top a, */
.module-header a {
  text-decoration: none;
  color: #111;
  padding-left: 2px;
}
/* .module-header-top a:visited, */
.module-header a:visited {
  text-decoration: none;
  color: #111;
  padding-left: 2px;
}
/* .module-header-top a:hover, */
.module-header a:hover {
  text-decoration: underline;
  color: #000;
  padding-left: 2px;
}
a.bottomf {
  text-decoration: none;
  color: #111;
  padding-left: 2px;
}
a.bottomf:visited {
  color: #111;
}
a.bottomf:hover {
  color: #000;
}
.featurelistitem {
  font-size: .9rem;
  font-weight: normal;
  background: #d4dce8;
  border-bottom: 0;
  border-top: 1px solid #fff;
}
.thisfeaturelistitem {
  font-size: .9rem;
  font-weight: bold;
  background: #fff;
  border-bottom: 0;
  border-top: 1px solid #fff;
}
.featurelistitem a {
  display: inline;
  padding: 2px;
}
.thisfeaturelistitem a {
  display: inline;
  padding: 2px;
}
.featurelistitem a:hover {
  color: #000;
  background: none;
}
.thisfeaturelistitem a:hover {
  display: block;
  background: #8da3c4;
  color: #111;
}
.searchform {
  display: inline-block;
  margin: 9px 0 3px;
}
.searchform input:first-of-type {
  width: 140px;
}
div.searchform,
div.searchform span.searchtitle {
  font-family: Arial, Helvetica, Sans-Serif;
  line-height: 1.3;
}
/* .restofbottom {
  padding-left: 5px;
  padding-bottom: 0;
  font-weight: bold;
  text-align: center;
} */
.imc-network .label-key {
  font-family: monospace;
  font-size: .9rem;
  line-height: 1.2;
  font-style: italic;
}
.imc-network .label-key .active,
.imc-network .label-key .archive {
  color: #164888;
}
.module-more .module-inner-horiz a,
.module-more .module-inner-horiz span,
.module-more .module-inner-horiz small {
  font-size: 1rem;
  line-height: 1.5;
  /* text-decoration: none; */
}
.module-more .module-inner-horiz a:hover {
  text-decoration: underline;
}
.thisfeaturelistitem,
.featurelistitem,
.module-more .module-inner-horiz .bottom {
  display: inline-block;
  margin: 3px 0;
  padding: 0;
  background: #fff;
}
.module-more .module-inner-horiz div.bottom {
  padding: 0 10px;
}
.thisfeaturelistitem a,
.featurelistitem a/* ,
.module-more .module-inner-horiz a */ {
  padding: 0 8px;
  font-size: 1rem;
  text-decoration: underline;
}
.featurelistitem a.bottomf,
a.bottomf {
  color: #16345c;
  padding: 0 5px;
}
.featurelistitem a.bottomf:hover,
a.bottomf:hover {
  display: inline;
  color: #06c;
  text-decoration: underline;
  background: none;
}
.featurelistitem-wrapper,
.bottom {
  display: inline;
  padding: 6px 0 14px;
}
.featurelistitem-wrapper div:after {
  content: ' | ';
}
.featurelistitem-wrapper div:last-child:after {
  content: '';
}
.module-header .restofbottom {
  text-align: left;
}
.bgcities {
  background: #ddd;
}
.cities-list {
  display: none;
  padding: 0 0 10px;
}
.cities-list div {
  /* padding: 0 8px 0 0; */
  font-size: 1rem;
  display: inline;
  font-weight: normal !important;
}
.cities-list div b {
  padding-left: 0;
}
.cities-list div a {
  padding: 0 8px 0 0;
}
.imc-network span.archive,
.imc-network a.archive {
  opacity: .5;
}
.imc-network a.broken,
.imc-network span.broken,
.imc-network a.questionable {
  display: none;
}
.imc-network a.archive.questionable {
  display: block;
}

.webcast {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  background: #fff;
}

.nooz {
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 5px;
  font-size: .9rem;
  line-height: 1.6;
  border: 1px solid #fff;
  border-radius: .25rem;
}
.noozimg {
  margin-left: -8px;
}

.footer {
  margin-top: -1px;
  border-top: 1px solid #8da3c4;
  padding: 3px;
  background: #d4dce8;
}
.disclaimer {
  padding: 3px 10px;
  font-size: .9em;
  border: solid 1px #8da3c4;
  background: #fff;
  border-radius: .25rem;
}
.headers {
  padding: 3px;
  background: #d4dce8;
  border: solid 1px #8da3c4;
  border-radius: .25rem;
}
.headers-comment {
  padding: 3px;
  background: #d4dce8;
  border: solid 1px #8da3c4;
  border-radius: .25rem;
}
.comments_list {
  padding: 3px;
  margin: 0 0 12px;
  background: #eee;
  font-size: .85rem;
  text-align: left;
  border: solid 1px #8da3c4;
  border-radius: .25rem;
}
.comments_list_table {
  margin: 0;
  border: 0;
  margin-top: 6px;
  padding: 0;
  border-spacing: 0;
}
.comments_list_head {
  padding-left: 0;
  padding-bottom: 3px;
  font-size: .75rem;
  margin: 0;
  border: 0;
}
.comments_list_item {
  padding-right: 6px;
}
.addcomment,
.headers-attachment {
  padding: 3px;
  margin-top: 1em;
  background: #ddd;
  font-size: .9rem;
  text-align: left;
  margin-bottom: 12px;
  line-height: 1.5;
  border: solid 1px #8da3c4;
  border-radius: .25rem;
}
center.breaking-event {
  margin-top: 9px;
  margin-bottom: 9px;
}
.breaking-event {
  font-size: .9rem;
  line-height: 1.08;
}
a.breaking-event {
  padding: 3px;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
  color: #c00;
}
a.breaking-event:visited {
  padding: 3px;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
  color: #c00;
}
a.breaking-event:hover {
  padding: 3px;
  margin-top: 1em;
  text-align: center;
  font-weight: bold;
  color: #ff3300;
}
.hidden {
  background: #ffcccc;
}
img {
  border: 0;
}
.story .storyimage .headline-image img.image-large,
.storyshort .storyimage .headline-image img.image-large,
.page-article .summary img,
.page-article .article img,
.page-event .article img,
.page-article .article-image,
.page-event .article-image,
.page-comment .article-image,
.storymobileimage .headline-image img.image-large,
.searchwrap .list-imgwrap img.list-image,
.page-gallery img.article-image {
  border-radius: .25rem;
}
hr.feature-blurb {
  color: #ccc;
  background: #fff;
  border: 0;
  border-bottom: 0 solid #ccc;
  line-height: 0;
  height: 0;
  margin: -16px;
}
.feature-blurb-date {
  margin: 10px 0 7px 0;
  font: .8rem/.8rem Arial, Helvetica, Sans-Serif;
  color: #777;
  text-align: right;
}
.feature-blurb-background {
  padding: 3px 5px 3px 5px;
  background: #f3f3f3;
  border-radius: .25rem;
}
a.feature-blurb {
  text-decoration: none;
  color: #111;
}
a.feature-blurb:visited {
  text-decoration: none;
  color: #111;
}
a.feature-blurb:hover {
  text-decoration: underline;
  color: #000;
}
hr.feature-blurb2 {
  padding: 0;
  margin: 1px 0 0 0;
  line-height: 1;
  height: 1px;
}
.feature-blurb-date2 {
  float: right;
  color: #0b2d5a;
}
a.feature-blurb2 {
  text-decoration: none;
  color: #111;
}
a.feature-blurb2:visited {
  text-decoration: none;
  color: #111;
}
a.feature-blurb2:hover {
  text-decoration: underline;
  color: #000;
}
.gray {
  color: gray;
}
span.breakbug-event {
  font-size: .9rem;
  color: #000;
  text-align: left;
}
span.breakbug-event a {
  color: #c00;
}
span.breakbug-event a:visited {
  color: #c00;
}
span.breakbug-event a:hover {
  color: #f30;
}
.paypal {
  border: 1px solid purple;
}
table.paypal {
  border-collapse: collapse;
}
th.paypal {
  border-bottom: 2px solid purple;
}
td.paypal {
  background: #fcf;
}
.torrent {
  border: 2px #14417e;
  background: #142d4e;
}
tr.torrentodd {
  background: #d7d7d7;
  color: #333333;
}
tr.torrenteven {
  background: #bcbcbc;
  color: #333333;
}
.torrent td {
  font-size: .75rem;
  height: 23px;
}
tr.torrentodd:hover,
tr.torrenteven:hover {
  background: #eeeeee;
  color: #111111;
}
.subscribe_container {
  margin: 30px 0 0;
  padding: 10px;
  background: #eee;
  border: 3px dotted #bbb;
  border-radius: .25rem;
}
.subscribe_item {
  border: 1px solid #bbb;
  padding: 3px;
  margin: 1px;
}
.subscribe_item a,
.subscribe_item a:visited {
  text-decoration: none;
}
.subscribe_item a:hover {
  text-decoration: underline;
}
.subscribe_item:hover {
  background: #d4dce8;
  border: 1px solid #bbb;
  padding: 3px;
  margin: 1px;
}
.subscribe_item span {
  color: #111;
  font-weight: normal;
}
.subscribe_item span.linkright {
  padding-left: 16px;
  padding-right: 3px;
  line-height: 1.35;
  float: right;
}
a.subscribe_link {
  display: block;
  font-weight: bold;
  line-height: 1.3;
  padding-left: 18px;
  background: url('/images/feed-icon-12x12.png') left center no-repeat;
}
a.subscribe_link:hover {
  text-decoration: none;
  background: url('/images/feed-icon-12x12.png') left center no-repeat;
}
.subscribe_header {
  font-size: 1.4rem;
  line-height: 1.4;
}
.publish-table .clicktip {
  margin: 14px 0 0;
}
/* .indybay-tv-player, */
.clicktip .trigger {
  color: #cc0000;
  font-size: .9rem;
  line-height: 1.4;
  text-decoration: underline;
  cursor: pointer;
}
.rednote,
a.rednote,
a.calendar-addevent-link {
  color: #cc0000;
}
.searchform,
.page-search .clicktip .target,
.publish-table .clicktip .target,
.publish-table .clicktip .target {
  padding: 10px;
  background: #efefef;
  border-radius: .75rem;
}
.clicktip .target {
  display: none;
}
.clicktip .target,
.clicktip .target p {
  font-size: .9rem;
  line-height: 1.3;
}
.strike {
  text-decoration: line-through;
}
p.error,
label.error,
li.error {
  color: #cc0000;
  font: .9rem/1rem Arial, Helvetica, Sans-Serif;
}
input.error,
textarea.error {
  border: 1px solid #cc0000;
}
.caps-warning {
  font: .75rem/1rem Arial, Helvetica, Sans-Serif;
  /* color: #777; */
  color: #4b70a0;
}
.insert-newslink,
.readmorelinks {
  margin-top: 0.9em;
  padding: 3px 0 0;
  font-size: .95rem;
  font-weight: bold;
}
.insert-newslink {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
  cursor: pointer;
}
a.child {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a.child {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a.child:visited {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a.child:hover {
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}
a.child span.permalink {
  float: right;
  font-weight: normal;
}
.alignright {
  padding: 10px 0 10px 10px;
  padding-left: 2em;
  float: right;
}
.alignleft {
  padding: 10px 10px 10px 0;
  padding-right: 2em;
  float: left;
}
a.audio,
a.audio,
a.audio:visited {
  text-decoration: none;
}
a.audio:hover {
  text-decoration: underline;
}
audio {
  padding: 2px 0;
  display: block;
  width: 100% !important;
  height: 36px !important;
  border-radius: .25rem;
}
.flowplayer-video {
  width: 640px;
  height: 360px;
  margin: 0 auto;
}
.flowplayer-audio {
  width: 320px;
  height: 26px;
  margin: auto;
}
.livecast-target {
  float: right;
}
.ui-dialog .ui-widget-header {
  background: none;
  border: none;
}
.ui-widget-overlay {
  opacity: .90 !important;
  filter: Alpha(Opacity=90) !important;
  background: rgb(0, 0, 0) !important;
}
.ui-widget-content a {
  color: #16345c !important;
}
video {
  display: block;
  margin: 0 auto;
  padding: 0;
}
/* end theme08blu.css */

/* originally from _responsive.css */
#calendarwrap {
  display: none;
}
#calendarwrap .noevents {
  font-size: .95rem;
}
.breakbug-event-date {
  font-size: .95rem;
}
.breakbug-event-inner {
  padding: 0 0 4px 0;
  font-size: .95rem;
  line-height: 1.1;
}
.breakbug-event a,
.breakbug-event-inner a,
.breakbug-event-inner a:visited {
  color: #0457aa;
  text-decoration: none;
}
.breakbug-event a:hover {
  color: #06c;
  text-decoration: underline;
}
.breakbug-event .moreevents a {
  color: #164888;
}
.breakbug-event .moreevents a:hover {
  color: #06c;
}
.newsauthor,
.newscomments,
.date {
  display: block;
}
.breakbug-event .date,
.module-unified .date {
  display: inline;
  padding: 0 4px 0 0;
  font-size: .85rem;
  line-height: 1.5;
}
.module-unified .date {
  padding: 0 0 0 4px;
}
.newsauthor {
  /* padding: 2px 0 0; */
  font-size: .85rem;
  line-height: 1.4;
  color: #333;
}
.newscomments {
  font-size: .75rem;
  padding: 0;
  font-style: italic;
}
.newscomments:empty {
  display: none;
}
.date {
  padding: 1px 0 1px;
  font: .75rem/1rem Arial, Helvetica, Sans-Serif;
  color: #777;
}
.comments {
  color: #4f4f4f;
  font-size: .85rem;
  line-height: .83;
  font-weight: bold;
}
.newswirewrap-header-title {
  text-align: center;
}
.newswirewrap-global,
.newswirewrap-other {
  margin: 6px 0 0 0;
}
.moreevents {
  margin: 5px 0 0;
  font-size: .95rem;
}
.newswirehead .newswirehead {
  border: 0 none;
}
.tabmenu a.navbarcenter,
.newswirehead .newswirehead-text a {
  display: block;
}
.adminlinks,
.label-page-wrapper,
.feature-categories,
.event-viewother,
.bottomrightpadding {
  padding: 0 5px;
}
.feature-categories {
  display: block;
}
.blurb .feature-categories {
  margin-top: 20px;
  padding: 0;
}
.feature-categories .feature-categories-label {
  font-weight: bold;
}
.label-page-wrapper+.feature-categories {
  margin: 12px 0;
}
.label-page-wrapper {
  margin: 6px 0 0 0;
  overflow: auto;
}
.label-page {
  display: none;
  font-family: monospace;
  font-size: .9rem;
  line-height: 1;
  float: left;
}
.page-event .label-page.label-pageevent {
  display: block;
}
.page-article .label-page.label-pagearticle {
  display: block;
}
.page-blurb .label-page.label-pageblurb {
  display: block;
  margin-bottom: 12px;
}
body.page-blurb .edit-comment-link {
  display: none;
}
.bottomrightpadding {
  display: inline-block;
}
/* .category-header-box {
  margin: 0 0 6px 0;
  padding: 3px 6px;
  border: 1px solid #888;
  background: #dedede;
  border-radius: .25rem;
}
.category-header-box h1 {
  font-size: 1.3rem;
  line-height: 1.5;
  margin: 0;
  color: #234c86;
}
.category-header-box .catheader-intro,
.category-header-box .catheader-links {
  display: block;
  font-size: .9rem;
}
.category-header-box .catheader-links img {
  padding-right: 2px;
} */
.insert-wrapper {
  display: none;
}
.story,
.storyshort,
.blurbwrapper {
  margin: 0 0 12px;
  padding: 0 0 12px;
  border-bottom: 1px solid #ccc;
}
.blurbwrapper h4 {
  margin-bottom: 6px;
}
.story .storyimage .headline-image img,
.storyshort .storyimage .headline-image img {
  margin: 4px 12px 4px 0;
  font-size: .75rem;
  line-height: 1.3;
  float: left;
}
.story .storyimage .headline-image img.image-large,
.storyshort .storyimage .headline-image img.image-large {
  width: 360px;
  height: 240px;
}
.storyimage .headline-image .blurb-img-right {
  margin: 4px 0 4px 12px;
  float: right;
}
.storymobileimage {
  display: none;
}
.hed {
  font-size: 1.3rem;
  line-height: 1.3;
}
.headline-text {
  font-family: 'Noticia Text';
  font-style: normal;
  font-weight: 700;
  /* line-height: 1.4; */
  line-height: 1;
  text-decoration: none;
  color: #16345c;
}
.blurbtext  p {
  margin: 0;
}
.blurbtext ul {
  padding-left: 1.5rem;
}

/* For unordered list items with media icons inside blurbs. */
/* .blurbtext li {
  list-style-type: disc;
  margin-left: .1rem;
  padding-left: 0;
}
.blurbtext li.li-none {
  list-style-type: none;
  margin-left: -1rem;
  padding-left: 0;
} */

/* media icon */
.catheader-links img,
.story-html img.mediaicon,
.blurbtext img.mediaicon,
.page-article .summary img.mediaicon,
.page-article .article img.mediaicon,
.page-event .event-location-summary img.mediaicon,
.page-event .article img.mediaicon {
  width: 12px;
  height: 12px;
  margin: 3px 2px 0 0;
}
.page-event-add .ui-datepicker-trigger,
.page-event-add .publish-wrapper img.mediaicon {
  width: 26px;
  height: 26px;
  margin: 0 2px 8px 0;
  vertical-align: middle;
  cursor: pointer;
}
.page-feature .category-header-box img.mediaicon {
  margin: 3px 0 0;
}
img.mediaicon+img.mediaicon {
  margin-left: 2px;
}
.nooz img,
.module-unified .mediaicon {
  width: 12px;
  height: 12px;
  margin: 5px 6px 0 0;
  float: left;
}
.module-unified .mediaicon {
  margin: 4px 6px 10px 0;
}
.nooz-types {
  margin: 0 auto;
}
.nooz-types img {
  width: 12px;
  height: 12px;
  margin: 7px 5px 0 0;
  float: left;
}
.nooz-types td {
  padding: 0 5px;
}
.feature-blurb-subhead {
  font-size: 1.1rem;
  line-height: 1.3;
}
.latestheadlines {
  display: none;
  /* hidden because "latest features" element in front and stand-alone
    blurb center columns is functionally broken */
  padding: 0 0 10px;
}
.bottommf,
.indy-link {
  display: block;
  padding-left: 2px;
  text-decoration: none;
}
.indy-link {
  cursor: pointer;
}
.indy-link span {
  margin-right: 4px;
}
.indy-link .open {
  display: none;
}
.closenav {
  display: none;
}
.newswire .rss-link {
  margin-top: 1em;
}
.headers,
.headers-attachment,
.headers-comment,
.addcomment {
  margin: 12px 0;
  padding: 3px 6px;
}
.heading-comment {
  font-size: 1rem;
  line-height: 1.4;
}
.summary,
.summary p,
.article,
.article p,
.addcomment,
.media,
video,
audio {
  font-size: 1rem;
  line-height: 1.6;
}
.small,
.summary small,
.article small {
  font-size: .8rem;
}
.article,
.article p,
.article-attachment,
.article-attachment p,
.article-comment,
.article-comment p {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 12px;
}
.article,
.article-attachment,
.article-comment {
  margin: 20px 0;
  padding: 0 3%;
}
.summary a,
.article a,
.media-options a,
.media-options textarea,
.bgult td a {
  overflow-wrap: break-word;
}
.image-file a {
  display: block;
  line-height: 0;
}
.overflow-content {
  max-width: 100%;
  margin: 10px 0;
  padding: 0 4px 8px 4px;
  overflow-x: auto;
  border: none;
}
.overflowed-content {
  border: 1px solid rgba(204, 204, 204, .3);
}
.overflow-content table,
.overflow-content tr,
.overflow-content td {
  width: auto !important;
  height: auto !important;
}
.bgsearchgrey .link {
  padding: 0;
}
blockquote {
  margin: 1.6em 5% 1.6em 3%;
  padding: 0.75em 2% 1em;
  quotes: "\201C""\201D""\2018""\2019";
  background: #f9f9f9;
  border-left: 10px solid #d4dce8;
  border-radius: .25rem;
}
blockquote p {
  display: inline;
}
.link a {
  padding: 4px 3% 10px 0;
}
.comments_list_table td {
  padding-right: 20px;
  line-height: 1.3;
}
.comments_list_table tr:not(:first-child) td:last-of-type {
  padding-bottom: 2px;
  font-style: italic;
}
.page-article video,
.page-event video {
  max-width: 100%;
  height: auto;
  background: transparent;
  max-height: 95vh;
  border-radius: .25rem;
}
.page-article .article div {
  max-width: 100% !important;
}
.page-article .summary img,
.page-article .article img,
.page-event .article img,
.page-article .article-image,
.page-event .article-image,
.page-comment .article-image {
  width: auto;
  max-width: 100% !important;
  max-height: 95vh;
  height: auto;
  background: transparent;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.page-event .bgult .bgsearchgrey,
.page-event .bgult .bgaccent {
  background: #eee;
}
.bgult tr td:nth-of-type(even) {
  width: 82%;
  padding-left: 6px;
}
.weekoftext {
  padding: 0 30px;
  font-size: 1.5rem;
}
.calendar-header-mobile {
  display: none;
}
.bodyClass td {
  padding: 3px;
}
.page-event-week .bodyClass tr:nth-child(1) td.caldatelinks {
  display: none;
}
.page-event-week .bodyClass tr:nth-child(1) td.weekTitles {
  color: #111;
}
.page-event-week .bodyClass tr:nth-child(2) .weekTitles {
  display: none;
}
.page-event-week .bodyClass tr td.weekTitles {
  width: 100%;
}
.page-event-week input {
  margin: 4px 0 0;
}
.page-publish select,
.page-event-week select,
.page-list select,
.page-gallery select {
  margin: 0 6px 6px 0;
}
#displayed_date_month,
#displayed_date_day,
#displayed_date_hour,
#event_duration {
  margin: 0 0 6px 0;
}
.timeseparator {
  margin: 0 2px 0 0;
}
.page-publish #file_count {
  margin: 0 6px 6px 0;
}
.page-publish #file_boxes2:empty {
  height: 0;
  margin: 0;
}
input.fileinput {
  width: 100%;
}

/* Upload Previews */
.fileinputwrapper {
  min-width: 100px;
  min-height: 16px;
}
.previewimagewrapper {
  display: none;
  position: relative;
  max-width: 96%;
  max-height: 100px;
  margin: 6px 0 0;
  padding: 0;
  background-color: #efefef;
  overflow: hidden;
}
.previewimage {
  width: auto;
  max-width: 100%;
  max-height: 100px;
}
.nopreview {
  display: none;
  position: relative;
  padding: 10px 18px 10px 10px;
  line-height: 1.4;
}
.clearimage {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  color: #000;
  font-size: 1.4rem;
  line-height: .6;
  font-weight: bold;
  background: rgba(255, 255, 255, .5);
  cursor: pointer;
}
.clearimage {
  background: rgba(255, 255, 255, .8);
}
.imagedimensions,
.filedimensioncorrect,
.filedimensionwarning {
  display: none;
}

.page-list h2 {
  margin-left: 5px;
}
.list-search {
  margin: 14px 0;
  padding: 0 6px 14px;
}
.search-element {
  padding: 4px;
}
.page-publish .dateselects select,
.page-search .search-element .search-range select {
  width: auto;
}
.page-search .search-range.disabled .datetext {
  opacity: .5;
}
.page-search .search-explanation {
  padding: 4px;
}
.page-search .search-explanation .target,
.page-search .search-explanation dl {
  font-size: .9rem;
  line-height: 1.4;
}
.list-search form p {
  margin: 14px 0 0;
}
.list-search span {
  white-space: nowrap;
}
.list-search span+a img,
.list-search input+a img {
  margin: 0 0 0 12px;
}
.list-search a+a img {
  margin: 0 0 0 4px;
}
.list-search input {
  margin-top: 4px;
}
.list-search h2+span+div {
  margin-top: 10px;
}
.list-search.list-search-top {
  border-bottom: 1px solid #ccc;
}
.list-search.list-search-bottom {
  margin: 14px 0 18px;
  padding: 0 6px;
  border-top: 1px solid #ccc;
  border-bottom: 0 none;
}
.list-search.list-search-bottom form p {
  margin: 14px 0;
}
.searchwrap {
  padding: 10px 6px;
  overflow: auto;
}
.list-titlewrap {
  display: block;
  line-height: 1.5;
  font-weight: bold;
}
.list-attachment {
  font-weight: normal;
}
.searchwrap a {
  word-break: break-all;
}
/* media icon */
.searchwrap img {
  width: 12px;
  height: 12px;
  margin: 6px 6px 0 0;
  float: left;
}
.searchwrap .list-imgwrap {
  width: 135px;
  height: 90px;
  margin: 10px 8px 2px 0;
  float: left;
  border-radius: .25rem;
  overflow: hidden;
}
.searchwrap  .list-imgwrap img.list-image {
  width: 100%;
  height: auto;
  margin: 0;
}
.searchwrap img.list-image {
  width: 135px;
  height: 90px;
  margin: 10px 8px 2px 0;
  float: left;
}
.searchwrap .list-author {
  display: inline-block;
  padding: 4px 0 6px;
  line-height: 1.5;
}
.searchwrap .list-posted {
  margin: 8px 0 0;
  font-size: .9rem;
  font-style: italic;
  line-height: 1.4;
}
.searchwrap .list-eventdate {
  margin: 8px 0 0;
  font-weight: bold;
  line-height: 1.4;
}
.pdf-link {
  display: block;
  text-align: center;
  float: left;
}
.page-feature-archive .pagecontent>h2 {
  margin: 14px 0;
}
.archive-pagination {
  margin: 20px 0;
  padding: 3px;
  border: 1px solid #999;
  background: #ccc;
}
.archive-featurename {
  font-weight: bold;
}
.archive-nav {
  padding: 0 5px;
}
.inner-wrap {
  padding: 0 6px;
}
#publish-form input[type=text],
#publish-form textarea {
  width: 90%;
  /* margin: 0 6px 0 0; */
  margin: 0;
  resize: vertical;
}
#publish-form input[type=submit],
#publish-form input[type=checkbox],
#publish-form input[name=displayed_author_name],
#publish-form input[name=email],
#publish-form input[name=phone],
#publish-form input[name=captcha_verbal],
#publish-form input[name=captcha_math] {
  width: auto;
}
#publish-form input[value="Publish"] {
  margin-left: 6px;
}
table.roundtop {
  border-radius: .75rem .75rem 0 0;
  overflow: hidden;
}
table.roundbot {
  border-radius: 0 0 .75rem .75rem;
  overflow: hidden;
}
.publish-table {
  padding: 0;
}
.publish-table td {
  /* vertical-align: middle; */
  vertical-align: top;
  padding: 4px;
}
.publish-table td.vtop {
  vertical-align: top;
}
.publish-div {
  display: none;
  /* this is breaking disabling of file_count before
    captcha entered */
  padding: 10px 3px 20px;
}
.publish-table td p {
  width: 96%;
  margin: 0 0 1em;
}
.publish-table label {
  font-weight: bold;
  cursor: pointer;
}
.captcha {
  display: inline-block;
  margin: -4px 0 10px;
}
.captcha-wrapper code {
  font-family: monospace;
  font-size: 1.18rem;
}
.publish-buttons {
  padding: 15px;
  text-align: center;
}
.extraspacetop {
  display: inline-block;
  margin: 10px 0 0;
}
.extraspaceleft {
  margin: 0 0 0 10px;
}
.extraspaceleftsm {
  margin: 0 0 0 6px;
}
.eventNav2 {
  margin: 0 0 6px;
}
event {
  margin: 6px 0;
}
.page-event-week .bodyClass td.module-inner-horiz event {
  margin: 6px 0 4px;
}
.page-gallery .pagecontent table {
  margin: 0 auto;
}
.page-gallery .pagecontent table tr td:empty {
  display: none;
}
.page-gallery .origimagetitle {
  display: block;
  min-height: 50px;
  padding: 0 0 6px;
}
.page-gallery img.list-image {
  width: 100%;
  height: auto;
}
.page-gallery img.article-image {
  width: 100%;
  height: auto;
}

/* VIDEO & AUDIO */
.media:empty {
  display: none;
}
.audio-listen {
  font-family: monospace;
  font-size: .9rem;
  text-align: left;
}
.audio-listen,
.audio-file {
  max-width: 650px;
  margin: 0 auto;
}
.media-options {
  width: 90%;
  max-width: 540px;
  margin: 6px auto 10px;
  font-family: monospace;
  font-size: .9rem;
  line-height: 1.2;
  text-align: center;
}
.media-options span {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.media-options textarea {
  display: block;
  width: 80%;
  margin: 6px auto 0;
  padding: 0 !important;
  font-family: inherit;
  font-size: inherit;
  line-height: 1 !important;
  text-align: left;
  overflow: hidden;
}
.media-audio {
  max-width: 650px;
  margin: 0 auto;
}
.media-options div,
.media-options a {
  font-size: inherit;
  line-height: 1;
}
.media-options a ,
.embed {
  text-decoration: underline;
  cursor: pointer;
}
.media-embed {
  display: none;
  margin: 0 0 4px;
  padding: 8px;
  line-height: 1.3;
  background: rgba(0, 0, 0, 0.1);
}

/* HEADER NAV ITEMS */
.supplemental-nav {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 90px;
  height: 45px;
  color: #000;
  cursor: pointer;
}

/* ADMIN PAGES */
.adminbreadcrumbnav {
  width: 100%;
  height: 32px;
  font-size: 1rem;
  background: #ffcc00;
  border-bottom: 1px solid #000;
}
.adminbreadcrumbnav span {
  display: inline-block;
  padding: 4px 7px;
}
.admincontent {
  min-height: 540px;
  padding: 0 6px;
}
.admincontent td {
  word-wrap: break-word;
}
.admincontent img,
.admincontent video,
.admincontent audio {
  max-width: 400px;
}
.admin .item-id {
  padding: 0 6px 0 0;
  font-weight: bold;
  float: left;
}
.admin .item-id-parent {
  font-weight: normal;
}
.admin .admin-title {
  font-weight: bold;
}
.admin input[type=text],
.admin textarea {
  width: 90%;
  /* margin: 0 6px 0 0; */
  margin: 0;
  resize: vertical;
}
.adminshortcut {
  display: block;
  text-align: center;
}
.error404 {
  width: auto;
  margin: 0 auto;
  text-align: center;
}
.error404 img {
  width: 100%;
  max-width: 800px;
  height: auto;
}
#backtotopbox {
  display: none;
  position: fixed;
  z-index: 15;
  bottom: 40px;
  right: 20px;
  padding: 8px 10px 8px;
  color: #16345c;
  line-height: 1;
  background: #fff;
  border: 1px solid #999;
  border-radius: .75rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
  cursor: pointer;
}

/* data table - BART protest history & older Palestine history*/
.bckdark,
.idbckdark {
  background: #000;
}
.bckmedi,
.idbckmedi {
  background: #ccc;
}
.bcklite,
.idbcklite {
  background: #e3e3e3;
}
.contentrow:nth-child(odd) {
  background: #e3e3e3;
}
.contentrow:nth-child(even) {
  background: #ccc;
}
.txthead,
.idtxthead {
  color: #fff;
  font-weight: bold;
}
.txtsubhead {
  margin: 10px 0;
  padding: 10px 10px 6px 10px;
  color: #000;
  font-size: 1.1rem;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  background: #000;
}
.txtreg,
.idtxtreg {
  color: #000;
}
.txtbold {
  font-weight: bold;
}
.txtital {
  font-style: italic;
}
.txtsm,
.idtxtsm {
  color: #000;
}
.txtwht {
  color: #fff;
}
.txtgrey {
  color: #ccc;
}
.txtred {
  color: #ff0000;
}
.txtyellow {
  color: #ff0;
}
.txtgreen {
  color: #0c0;
}
a.link {
  color: #0000cc;
}
a.whtlink,
a.idwhtlink {
  color: #fff;
  font-weight: bold;
}
a.whtlink:visited,
a.idwhtlink:visited {
  color: #fff;
  font-weight: bold;
}
a.whtlink:hover,
a.idwhtlink:hover {
  font-weight: bold;
}
/* END data table - BART protest history */

@media (min-width: 971px) {

  a.newswire {
    font-size: 1rem;
    line-height: 1.3;
  }

}

@media (min-width: 1041px) {

  #headerbutton-about {
    display: none;
  }
  .headerbutton:hover {
    border: 1px solid #c0d1ea;
    background-color: rgba(114,139,176,1);
  }

}

@media (max-width: 1040px) {

  #shadow-maincontent {
    top: 77px;
  }
  body.admin #shadow-maincontent {
    top: 0;
  }
  .supplemental-nav {
    right: 0;
  }
  .mobhide {
    display: none;
  }
  address,
  caption,
  div,
  dl,
  li,
  ol,
  p,
  ul,
  td,
  th,
  input,
  select,
  option,
  textarea {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .insert-newslink,
  .readmorelinks {
    font-size: 1.25rem;
  }
  .page-blurb .mast,
  .page-article .mast,
  .page-event .mast,
  .page-event-week .mast,
  .page-publish .mast,
  .page-search .mast,
  .page-search-results .mast,
  .page-list .mast,
  .page-feature-archive .mast,
  .page-gallery .mast,
  .page-subscribe .mast,
  .page-comment .mast {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
  }
  .page-blurb .page,
  .page-article .page,
  .page-event .page,
  .page-event-week .page,
  .page-comment .page,
  .page-subscribe .page,
  .page-search .page,
  .page-search-results .page,
  .page-list .page {
    width: 100%;
    margin: 0 auto;
  }
  .page-front .page,
  .page-feature .page {
    width: 100%;
    margin: 33px auto 0;
  }
  .page-publish.page-article .webcast,
  .page-event-add.page-event .bgult {
    width: 100%;
  }
  .pagecontent {
    padding: 4px 1% 0;
  }
  .page-search-results .pagecontent p:first-of-type {
    line-height: 1.4;
  }

  /* HEADER NAV */
  #headernav {
    display: none;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
    pointer-events: auto;
  }
  .closenav {
    display: block;
    position: absolute;
    z-index: 6;
    right: 22px;
    bottom: 30px;
    cursor: pointer;
  }
  .closenav span,
  #backtotopbox span {
    font-weight: bold;
  }
  #calendarwrapper .closenav {
    display: none;
  }
  .newswire .rss-link {
    border: 2px solid green;
    display: none;
  }
  div.newswire {
    padding: 0;
    border-left: none;
  }
  .page-front .blurb/*,
  .page-feature .blurb*/ {
    display: block;
  }
  /* this resets SC CSS newswire background colors */
  .bgleft .bgleftcol,
  .bgleft .featurelistitem,
  .feature-bottom .module-wrappers,
  .feature-bottom .featurelistitem,
  #maincontent .rightcol,
  #maincontent .newswirehead,
  #maincontent .newswire,
  #maincontent .nooz {
    background: #fff;
    border: none;
  }
  .page-blurb #headertabs,
  .page-article #headertabs,
  .page-event #headertabs,
  .page-event-week #headertabs,
  .page-publish #headertabs,
  .page-search #headertabs,
  .page-search-results #headertabs,
  .page-list #headertabs,
  .page-feature-archive #headertabs,
  .page-gallery #headertabs,
  .page-subscribe #headertabs,
  .page-comment #headertabs {
    display: none;
  }
  .page-blurb #shadow-maincontent,
  .page-article #shadow-maincontent,
  .page-event #shadow-maincontent,
  .page-event-week #shadow-maincontent,
  .page-publish #shadow-maincontent,
  .page-search #shadow-maincontent,
  .page-search-results #shadow-maincontent,
  .page-list #shadow-maincontent,
  .page-feature-archive #shadow-maincontent,
  .page-gallery #shadow-maincontent,
  .page-subscribe #shadow-maincontent,
  .page-comment #shadow-maincontent {
    top: 46px;
  }
  .page-blurb .pagecontent,
  .page-article .pagecontent,
  .page-comment .pagecontent,
  .page-event-week .pagecontent,
  .page-publish .pagecontent,
  .page-search .pagecontent,
  .page-search-results .pagecontent,
  .page-list .pagecontent,
  .page-feature-archive .pagecontent,
  .page-gallery .pagecontent,
  .page-subscribe .pagecontent,
  .page-comment .pagecontent {
    margin: 0 auto;
  }
  #headertabs {
    display: block;
    position: absolute;
    z-index: 4;
    left: 0;
    top: 45px;
    width: 100%;
  }
  .page-search #headertab-feat,
  .page-search #headertab-cal,
  .page-search-results #headertab-feat,
  .page-search-results #headertab-cal,
  .page-list #headertab-feat,
  .page-list #headertab-cal {
    display: none;
  }
  /* .navbar {
    width: auto;
    height: auto;
    overflow: auto;
    background: #6e6e6e;
    border-bottom: none;
    border-top: none;
    float: none;
  }
  .navbarleft {
    padding-top: 4px;
  }
  .lastnavbar {
    padding-bottom: 4px;
  }
  a.navbarlink {
    width: auto;
    margin: 4px 0;
    padding: 8px 0 8px 12px;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1;
    color: #d8d7d7;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    background: #6e6e6e;
  }
  a.navbarlink:hover {
    background: #fff;
  }
  .lastnavbar .navbarlink {
    border-bottom: none;
  } */
  #headertab-feat,
  #headertab-newswire {
    display: inline-block;
  }

  /* .catheader-links img, .story-html img.mediaicon, .blurbtext img.mediaicon, .page-article .summary img.mediaicon, .page-article .article img.mediaicon, .page-event .article img.mediaicon */

  .module-inner-horiz .catheader-links img.mediaicon {
    width: 14px;
    height: 14px;
    margin: 3px 2px 0 0;
  }
  .module-more .module-inner-horiz a,
  .restofbottom span,
  .restofbottom small {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .insert-wrapper a.newswire,
  .thisfeaturelistitem a,
  .featurelistitem a,
  .module-more .module-inner-horiz a {
    font-size: 1.25rem;
  }
  .thisfeaturelistitem a,
  .thisfeaturelistitem a.bottomf,
  .thisfeaturelistitem a.bottomf {
    font-weight: bold;
  }
  .module-header-top,
  .module-header {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .cities-list div {
    font-weight: normal !important;
    font-size: 1.25rem;
  }
  .searchform input:first-of-type {
    margin: 0 0 10px;
    font-size: .95rem;
  }
  .rightcol {
    display: none;
    position: absolute;
    z-index: 10;
    top: 31px;
    right: 0;
    width: 420px;
    height: auto;
    padding: 26px 5% 34px 5%;
    background: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
  }
  .newswire {
    width: 100%;
    padding: 0;
    background: #fff;
    border: none;
  }
  .newswire-more {
    display: block;
    margin: 0 0 30px 0;
    padding: 8px 0;
  }
  .newswire-more a.publink {
    margin: 0;
    font-weight: normal;
    text-decoration: underline;
    float: none;
  }
  .newswirewrap-global,
  .newswirewrap-other {
    margin: 0;
    clear: both;
  }
  .newswirehead {
    font-size: 1.5rem;
    line-height: 1;
    text-align: left;
    border-bottom: 1px solid #111;
    margin: 0;
    padding: 0;
    border: none;
    background: #fff;
  }
  .tabmenu  a.navbarcenter,
  .newswirehead a.publink {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    text-decoration: none;
    float: none;
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
    margin-bottom: 4px;
  }
  .nooz {
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }

/* For unordered list items with media icons inside blurbs. */
  /* .blurbtext li {
    margin-left: .5rem;
    padding-left: .18rem;
  }
  .blurbtext li.li-none {
    margin-left: -1rem;
    padding-left: 0;
  } */

  /* media icon */
  .nooz img,
  .module-inner-horiz .mediaicon {
    width: 20px;
    height: 20px;
    margin: 1px 6px 0 0;
    float: left;
  }
  .module-unified .mediaicon {
    margin: 2px 6px 10px 0;
  }
  .catheader-links img,
  .story-html img.mediaicon,
  .blurbtext img.mediaicon,
  .page-article .summary img.mediaicon,
  .page-article .article img.mediaicon,
  .page-event .article img.mediaicon/* ,
  .bgult img.mediaicon */ {
    width: 20px;
    height: 20px;
    margin: 0 2px 0 0;
  }
  .page-event-add .ui-datepicker-trigger,
  .page-event-add .publish-wrapper img.mediaicon {
    width: 30px;
    height: 30px;
  }
  .newswire,
  .newswirewrap-header,
  .newswirewrap-newswire {
    display: none;
  }
  .newswirewrap-header {
    display: none !important;
  }
  .localglobal {
    display: none;
  }

  /* CENTER COLUMN */
  .adminlinks {
    margin-bottom: 14px;
    font-size: 1.08rem;
  }
  h2 {
    font-size: 1.6rem;
    line-height: 1.5;
  }
  .label-page-wrapper {
    margin: 6px 0 12px 0;
  }
  .feature-categories,
  span.event-viewother {
    margin-top: 0;
    padding: 0 5px 14px;
  }
  span.event-viewother {
    font-size: .9rem;
  }
  h3,
  .h3 {
    margin-top: 0;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  h4 {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  h3 small {
    font-size: 1.15rem;
  }
  .insert-wrapper {
    display: block;
  }
  .insert-wrapper .newswire {
    display: inline;
  }
  #maincontent .insert-wrapper .nooz,
  #maincontent .insert-wrapper .newswire {
    background: transparent;
  }
  #maincontent .insert-wrapper .nooz {
    padding: 10px;
  }
  #maincontent .insert-wrapper .insert-newslink {
    margin: 0 10px 10px 10px;
    text-decoration: underline;
  }
  .module-wrappers.insert-wrapper {
    margin: 0 0 20px;
    padding: 0 0 22px;
    border-bottom: 1px solid #ccc;
    text-align: left;
  }
  .story-html,
  .story,
  .storyshort {
    margin: 0 0 20px;
    padding: 0 0 22px;
    border-bottom: 1px solid #ccc;
  }
  .page-blurb .story {
    padding: 0;
    border-bottom: none 0;
  }
  #calendarwrapper {
    margin: 0 0 20px;
  }
  .story-html #calendarwrapper {
    margin: 0;
  }
  .story-html {
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: none 0;
  }
  .page-front .story-html {
    margin: 0;
  }
  .story-html h1 {
    font-size: 1.65rem;
    line-height: 1.2;
  }
  .story-html .pageheadbox {
    margin: 0 0 20px;
  }
  .story .hed,
  .storyshort .hed {
    padding: 0 5px 6px;
    line-height: 1.3;
  }
  .hed {
    font-size: 1.75rem;
    line-height: 1.4;
  }
  .feature-blurb-background {
    padding: 6px 7px;
  }
  /* .story .storyimage .headline-image img.image-large,
  .storyshort .storyimage .headline-image img.image-large {
    width: 360px;
    height: 240px;
  } */
  .searchwrap img.list-image {
    width: 135px;
    height: 90px;
    margin: 10px 8px 2px 0;
    float: left;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  .blurb {
    margin: 10px 5px 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  a.navbarcenter {
    font-size: 1.15rem;
  }
  div.navbarcenter,
  .breakbug-event,
  .breakbug-event div,
  a.newswire,
  a.publink {
    font-size: 1.2rem;
    line-height: 1.2;
  }
  a.navbarcenter,
  .breakbug-event a.navbarcenter {
    font-size: inherit;
  }
  a.publink {
    margin: 15px 0 0 0;
    font-weight: bold;
    text-decoration: underline;
    float: left;
  }
  .newsauthor {
    padding: 3px 0 1px;
    font-size: 1.20rem;
    line-height: 1.1;
  }
  .newscomments,
  .date {
    font-size: 1.10rem;
  }
  .newscomments {
    padding: 0;
    line-height: 1.3;
  }
  .date {
    display: block;
    font-size: 1.1rem;
    line-height: 1.4;
  }
  .breakbug-event .date,
  .module-unified .date {
    display: inline;
    padding: 0 8px 0 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  .newswire-more .publink {
    font-size: inherit;
  }
  .breakbug-event-date {
    padding: 8px 0 4px;
    line-height: 1;
  }
  .breakbug-event-inner {
    padding: 3px 0;
    line-height: 1.2;
  }
  .summary,
  .summary p,
  .article,
  .article p,
  .article-attachment,
  .article-attachment p,
  .article-comment,
  .article-comment p,
  .addcomment {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .addcomment,
  .addcomment small {
    font-size: 1.15rem;
    line-height: 1.5;
  }
  .eventNav {
    margin: 0 0 4px;
  }
  .eventNav2 {
    margin: 0 0 10px;
  }
  .eventNav3 {
    font-size: 1.25rem;
  }
  .bodyClass td {
    padding: 6px;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.weekTitles {
    color: #111;
    font-size: 1.15rem;
    line-height: 1.5;
  }
  td.module-inner-horiz {
    width: 14%;
    font-size: 1.08rem;
    line-height: 1.5;
  }
  event {
    display: inline-block;
    width: 100%;
    max-width: 98px;
    overflow-wrap: normal;
  }
  event a,
  /* added this because maybe .event below is mistake */
  .event a {
    width: 100%;
    overflow-wrap: break-word;
  }
  .page-list h2 {
    margin-top: 0;
  }
  .comments_list {
    font-size: 1.15rem;
    margin: 1em 6px 12px;
    padding: 3px 6px;
  }
  .comments_list_table {
    font-size: 1.15rem;
    margin: 1em 0 0;
    padding: 3px 6px;
  }
  .comments_list_head {
    font-size: 1.08rem;
  }
  .comments_list_table tr:not(:first-child) td:last-of-type {
    padding-bottom: 4px;
  }
  .media,
  .media small {
    font-size: 1.08rem;
    line-height: 1.7;
  }
  .media-options a,
  .media-options textarea {
    padding: 10px 0 0;
  }
  .media table,
  .media table tbody,
  .media table tr,
  .media table td {
    display: block;
  }
  .media table td {
    font-size: inherit;
  }
  .flowplayer-video img {
    width: 100%;
    max-width: 640px;
    height: auto;
  }
  .article {
    position: relative;
  }
  .bgult,
  .bgult>tbody,
  .bgult>tbody>tr,
  .bgult>tbody>tr>td {
    display: block;
  }
  .bgult tbody tr:nth-of-type(3) td:first-of-type,
  .bgult tbody tr:nth-of-type(4) td:first-of-type {
    width: 15%;
    float: left;
  }
  .bgult tbody tr:nth-of-type(3) td:nth-of-type(2),
  .bgult tbody tr:nth-of-type(4) td:nth-of-type(2),
  .bgult tbody tr:nth-of-type(5) td:nth-of-type(2),
  .bgult tbody tr:nth-of-type(6) td:nth-of-type(2) {
    width: 98.45%;
  }
  .bgult tr td:nth-of-type(2),
  .bgult tr td:nth-of-type(10) {
    width: 100%;
  }
  .bgult tr td:nth-of-type(2n) span {
    padding: 4px;
  }
  .bgult>tbody>tr>td {
    border: 1px solid #333;
    border-bottom: none;
  }
  .bgult>tbody>tr:last-of-type>td:last-of-type {
    border-bottom: 1px solid #333;
    overflow: auto;
  }
  #testvalues {
    position: absolute;
    z-index: 100;
    left: 0;
    top: -30px;
    border: 1px solid red;
  }
  .heading {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: bold;
  }
  .webcast .author,
  .author-attachment,
  .author-comment {
    line-height: 1.5;
  }
  .webcast .author em,
  .author-attachment em,
  .headers-comment em,
  .author-email {
    font-size: 1.15rem;
    line-height: 1.2;
  }
  .link {
    font-size: 1.25rem;
  }
  .link a {
    margin: 0;
  }
  .heading-attachment {
    font-size: 1.4rem;
    line-height: 1.5;
  }
  .heading-attachment a.child span.permalink {
    font-size: 1.25rem;
  }
  .heading-comment {
    font-size: 1.25rem;
  }
  small {
    font-size: 1rem;
    line-height: 1.5;
  }
  .story-html small {
    display: inline-block;
    margin: 5px 0 3px;
    line-height: 1.5;
  }
  .feature-blurb-date {
    font: 1rem/.8rem Arial, Helvetica, Sans-Serif;
  }
  .feature-blurb-subhead {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .latestheadlines {
    margin: 0 2px;
    padding: 0;
  }
  .headlines1 {
    padding-left: 5px;
    font-size: 1.15rem;
  }
  .archivelink2 {
    margin: 20px 0 14px;
  }
  .archivelink2-categories {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    font-style: italic;
    white-space: nowrap;
  }
  .ical {
    margin-top: 2px;
  }
  .page-event-week .eventNav2 .ical {
    margin-top: 6px;
  }
  .page-event-week .calendar-links .ical {
    margin-top: 4px;
  }
  .weekoftext {
    padding: 0 10px;
    font-size: 1.2rem;
  }
  .nowrap {
    white-space: nowrap;
  }
  .disclaimer {
    padding: 10px;
  }
  .list-attachment {
    display: block;
  }
  .searchwrap .list-posted {
    display: inline-block;
  }
  /* media icon */
  .searchwrap img {
    width: 20px;
    height: 20px;
    margin: 5px 6px 0 0;
    float: left;
  }
  .searchwrap img.article-image {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  #publish-form input[type=text],
  #publish-form textarea {
    width: 90%;
  }
  .publish-table td:nth-of-type(odd) {
    line-height: 1.5;
  }
  #publish-form input[name=captcha_verbal],
  #publish-form input[name=captcha_math] {
    width: auto;
    margin: 0 0 10px;
  }
  /* .page-event-add .ui-datepicker-trigger {
    margin-left: 4px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  } */
  .page-event-week select,
  .page-list select,
  .page-gallery select,
  .page-gallery span,
  .page-gallery .list-search span,
  input[type=submit] {
    font-weight: bold;
  }
  .page-event-week option,
  .page-search option,
  .page-list option,
  .page-gallery option,
  .page-gallery .list-search span span {
    font-weight: normal;
  }
  .page-gallery .media-options,
  .page-gallery .origimagetitle,
  .page-gallery .origimagefilename,
  .page-gallery .origimagelink {
    display: none;
  }

  /* VIDEO & AUDIO */
  #maincontent>tbody {
    display: block;
    position: relative;
  }
  #maincontent>tbody>tr {
    display: block;
    position: relative;
  }
  #maincontent>tbody>tr>td.page {
    display: block;
    position: relative;
  }

}

@media (min-width: 769px) {

  #calendarwrap {
    display: none !important;
  }

}

@media (max-width: 769px) {

  .page-search .search-element .mobilewidebreak {
    display: block;
  }
  /* .mastright, */
  .headerlogo {
    display: none;
  }
  /* .headerbuttons {
    margin: 5px 20px 0 0;
  } */
  .headerbuttons,
  .headermenus {
    right: 16px;
  }
  .headerbutton {
    margin: 0 0 0 12px;
  }
  /* Calendar center column */
  #headertab-cal {
    display: inline-block;
  }
  #calendarwrap {
    display: none;
    position: absolute;
    z-index: 10;
    top: 31px;
    right: 0;
    width: 420px;
    padding: 26px 5% 34px 5%;
    background: #fff;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.75);
  }
  div.navbarcenter {
    margin: 0 0 4px;
    padding: 0 0 5px;
    font-size: 1.5rem;
    line-height: 1;
    text-align: left;
    border: none;
    border-bottom: 1px solid #111;
    background: none;
  }
  .navbarcenter {
    margin: 0;
    padding: 0;
    border: none;
    background: #fff;
  }
  a.navbarcenter {
    font-size: 1.5rem;
    line-height: 1;
  }
  .article a,
  .media-options a,
  .media-options textarea,
  .bgult td a {
    overflow-wrap: break-word;
  }
  .flowplayer-video {
    width: 530px;
    height: 298px;
    margin: 0 auto;
  }
  .breakbug-event-date {
    padding: 14px 0 10px;
  }
  .breakbug-event-inner {
    padding: 5px 0;
  }
  .page-front .pagecontent .story-html {
    margin: 0;
  }
  .page-blurb .pagecontent,
  .page-article .pagecontent,
  .page-event .pagecontent,
  .page-comment .page,
  .page-subscribe .page,
  .page-search .page,
  .page-search-results .page,
  .page-list .page {
    width: 98%;
    padding: 4px 1% 0;
  }
  .pageheadbox,
  #calendarwrapper,
  .pagecontent .navbarcenter-calendar,
  .pagecontent .breakbug-event {
    display: none;
  }
  .latestheadlines {
    display: none;
  }
  .calendar-header-mobile {
    display: block;
  }
  .calendar-header-mobile .weekoftext {
    display: block;
    font-size: 1.6rem;
  }
  .calendar-header-mobile .weeknav {
    padding: 0 10px;
    font-size: inherit;
  }
  .calendar-header {
    display: none;
  }
  .calendar-header-element:nth-child(1) {
    margin: 0 0 14px;
    text-align: center;
  }
  .calendar-header-element:nth-child(2),
  .calendar-header-element:nth-child(3) {
    display: none;
    width: 50%;
    float: left;
  }
  .calendar-header-element:nth-child(2) {
    float: right;
  }
  .calendar {
    margin: 0 auto;
  }
  .calendar-header,
  .calendar,
  .calendarToday {
    font-size: 1.08rem;
  }
  .calendarToday a {
    font-weight: bold;
  }
  .bodyClass {
    width: 100%;
    margin: 10px 0;
    float: left;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.weekTitles,
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks {
    display: none;
  }
  .page-event-week .bodyClass tr:nth-child(2) td.module-inner-horiz {
    display: block;
    padding: 8px;
  }
  .page-event-week .bodyClass tr:nth-child(2) .weekTitles {
    display: block;
    margin: 0;
    padding: 0;
    color: #111;
    font-size: 1.4rem;
    line-height: 1.7;
    background: none;
  }
  .page-event-week .bodyClass tr:nth-child(2) td.module-inner-horiz {
    padding: 14px 6px;
    border-top: 1px solid #111;
  }
  .page-event-week .bodyClass tr:nth-child(2) td:first-of-type .weekTitles {
    border-top: 0;
  }
  .page-event-week .bodyClass td.module-inner-horiz event {
    margin: 10px 0 0;
  }
  .page-event-week .bodyClass tr:nth-child(2) .weekTitles .caldateitem {
    display: inline-block;
    color: #111;
    line-height: 1;
  }
  td.module-inner-horiz {
    display: block;
    width: auto;
    max-width: inherit;
    padding: 10px;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  event {
    width: auto;
    max-width: inherit;
    overflow-wrap: break-word;
  }
  td.module-inner-horiz event a {
    overflow-wrap: break-word;
  }
  .page-event-week .bodyClass tr:nth-child(2) td.module-inner-horiz:first-of-type {
    border-top: 0 none;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks {
    display: table-cell;
    padding: 4px 10px 6px;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: bold;
    background: #ccc;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks .weekTitles {
    display: inline-block;
    background: none;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks .weekTitles a {
    padding: 0 8px 0;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: bold;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks div:after {
    content: '|';
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks div:last-child:after {
    content: '';
  }
  .calendar tr:nth-child(1) td.calendar-header {
    font-weight: bold;
  }
  .calendar-links th,
  .calendar-links td {
    line-height: 1.3;
  }
  .page-event-week .calendar-links .ical {
    margin-top: 2px;
  }

}

@media (max-width: 640px) {

  /* .story .storyimage .headline-image img.image-large,
  .storyshort .storyimage .headline-image img.image-large {
    width: 100%;
    height: auto;
  } */
  .storymobileimage {
    display: block;
    margin: 0 0 10px 0;
    clear: both;
  }
  .storymobileimage .headline-image img.image-large {
    width: 100%;
    height: auto;
  }
  .storyimage {
    display: none;
  }

}

@media (max-width: 560px) {

  .mobnarrowhide {
    display: none;
  }
  .bgult>tbody>tr:nth-of-type(3)>td,
  .bgult>tbody>tr:nth-of-type(4)>td,
  .bgult>tbody>tr:nth-of-type(5)>td {
    min-height: 34px;
  }
  .bgult tbody tr:nth-of-type(3) td:nth-of-type(2),
  .bgult tbody tr:nth-of-type(4) td:nth-of-type(2),
  .bgult tbody tr:nth-of-type(5) td:nth-of-type(2),
  .bgult tbody tr:nth-of-type(6) td:nth-of-type(2) {
    width: 96.8%;
  }
  .flowplayer-video {
    width: 320px;
    height: 179px;
    margin: 0 auto;
  }
  .flowplayer-video h3,
  .flowplayer-video h2 {
    font-size: 1rem;
  }
  .module-inner-thirds {
    width: auto;
    margin: 20px 0 0;
    float: none;
  }

}

@media (max-width: 540px) {

  .headertab-other-slash,
  #headertab-other {
    display: none;
  }
  .feature-blurb-date {
    font-size: 1.08rem;
    font-weight: normal;
  }
  .restofbottom.cities-list {
    text-align: left;
  }

}

@media (max-width: 480px) {

  .mastleft {
    width: 374px;
  }
  .masttitle,
  .masttitleshadow {
    display: none;
  }
  .masttitle.indybay,
  .masttitleshadow.indybay {
    display: block;
  }
  .page-santacruz .masttitle.indybay,
  .page-santacruz .masttitleshadow.indybay {
    display: none;
  }
  .page-santacruz .masttitle.santacruz,
  .page-santacruz .masttitleshadow.santacruz {
    display: block;
  }
  address,
  caption,
  div,
  /*span,*/
  dl,
  li,
  ol,
  p,
  ul,
  td,
  th,
  input,
  select,
  option,
  textarea {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .module-more .module-inner-horiz a,
  .module-more .module-inner-horiz span,
  .module-more .module-inner-horiz small {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  h3,
  .h3 {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  h4 {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .event-viewother {
    line-height: 1.3;
  }
  .event-location-summary {
    line-height: 1.4;
  }
  .module-header-top,
  .module-header {
    font-size: 1.4rem;
  }
  /* media icon */
  .searchwrap img {
    width: 20px;
    height: 20px;
    margin: 3px 6px 0 0;
    float: left;
  }
  .nooz img,
  .module-unified .mediaicon {
    width: 20px;
    height: 20px;
    margin: 0 6px 0 0;
    float: left;
  }
  .breakbug-event,
  .breakbug-event div,
  a.newswire,
  a.publink {
    font-size: 1.2rem;
    line-height: 1.1;
  }
  .breakbug-event .date,
  .module-unified .date {
    font-size: 1.2rem;
    line-height: 1.3;
  }
  .newsauthor {
    font-size: 1.2rem;
    padding: 2px 0 0;
  }
  #calendarwrap,
  .rightcol {
    width: 90%;
  }
  .page-front .pagecontent .story-html {
    margin: 0;
  }
  .pagecontent .story-html {
    margin: 0 0 20px;
  }
  .story,
  .storyshort {
    padding: 6px 0 0;
    border-bottom: 1px solid #ccc;
  }
  .storyshort div {
    line-height: 1.5;
  }
  .featurelistitem a.bottomf,
  a.bottomf,
  .module-more .module-inner-horiz a {
    font-size: 1.4rem;
    line-height: 1.4;
  }
  small {
    font-size: 1.1rem;
  }
  .feature-blurb-subhead,
  .feature-blurb-subhead span {
    font-size: 1.6rem;
    line-height: 1.4;
  }
  .blurbtext {
    display: none;
  }
  .page-blurb .blurbtext {
    display: block;
  }
  .readmorelinks {
    font-weight: normal !important;
    margin-top: 0.7em;
  }
  .feature-blurb-background {
    /* padding: 12px 5px 12px; */
    padding: 0 5px 12px;
    background: #fff;
  }
  .feature-blurb-date {
    margin: 0 0 10px 0;
  }
  .cities-list div {
    font-size: 1.4rem;
  }
  .summary,
  .summary p,
  .article,
  .article p,
  .addcomment,
  .article-attachment,
  .article-attachment p,
  .article-comment,
  .article-comment p,
  .heading-attachment,
  .heading-comment {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .heading-comment {
    line-height: 1.4;
  }
  .addcomment,
  .addcomment small {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .comments_list {
    font-size: 1.25rem;
    margin: 1em 6px 12px;
    padding: 8px 6px;
    line-height: 1.5;
  }
  .comments_list small strong a {
    display: inline-block;
    padding: 0 0 8px;
    line-height: 1.5;
  }
  .comments_list_table {
    font-size: 1.25rem;
    margin: 1em 0 0;
    padding: 3px 6px;
  }
  .comments_list_head {
    font-size: 1.15rem;
  }
  .comments_list_table tr:not(:first-child) td:last-of-type {
    padding-bottom: 20px;
    font-size: 1rem;
    font-style: italic;
  }
  .comments_list_table tr:last-child td:last-of-type {
    padding-bottom: 0;
  }
  .author-comment {
    line-height: 1.2;
  }
  .comments_list_table,
  .comments_list_table tbody,
  .comments_list_table tr,
  .comments_list_table td {
    display: block;
    position: relative;
  }
  .comments_list_table tr:first-of-type {
    display: none;
  }
  .media,
  .media small {
    font-size: 1.15rem;
    line-height: 1.7;
  }
  .heading {
    font-size: 1.6rem;
    line-height: 1.3;
  }
  .page-event .bgult .bgaccent {
    line-height: 1.3;
  }
  .webcast .author,
  .author-attachment {
    line-height: 1.5;
  }
  .webcast .author em,
  .author-attachment em,
  .headers-comment em {
    display: inline-block;
    padding-top: 3px;
    font-size: 1.25rem;
  }
  .author-email {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  .link {
    display: inline-block;
    width: 94%;
    font-size: 1.4rem;
  }
  .link a {
    width: 280px;
    line-height: 1.5;
    float: left;
  }
  .heading-attachment {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .heading-attachment a.child span.permalink {
    font-size: 1.3rem;
    padding-left: 10px;
  }
  .article a,
  .bgult td a {
    margin-bottom: 10px;
  }
  .article a {
    margin-bottom: 0;
  }
  .addedtocalendar {
    margin-top: 20px;
  }
  .ical {
    margin-top: 6px;
  }
  #backtotopbox {
    bottom: 75px;
  }
  .calendar-header-mobile .weekoftext {
    font-size: 1.6rem;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  .page-event-week .bodyClass tr:nth-child(1) td.caldatelinks .weekTitles a {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  .page-event-week .bodyClass tr:nth-child(2) .weekTitles {
    font-size: 1.6rem;
    line-height: 1.7;
  }
  td.module-inner-horiz {
    font-size: 1.4rem;
    line-height: 1.7;
  }
  .calendar-links th,
  .calendar-links td {
    padding-right: 12px;
  }
  .page-event-week .calendar-links .ical {
    margin-top: 3px;
  }
  .publish-table,
  .publish-table tr,
  .publish-table td {
    display: block;
    width: 100% !important;
  }
  .publish-table {
    margin: 2px;
    padding: 4px;
    display: block;
  }
  .publish-table tr td:empty {
    display: none;
  }
  .publish-table td p {
    margin: .5em 0 1em;
  }
  .page-event-week select,
  .publish-table select,
  .page-search select,
  .page-list select,
  .page-gallery select,
  .page-gallery .list-search span {
    width: 90%;
  }
  .page-gallery .list-search span {
    display: block;
    padding-top: 0;
  }
  .page-search .search-element .mobilebreak {
    display: block;
  }
  .page-event-week option,
  .publish-table option,
  .page-search option,
  .page-list option,
  .page-gallery option {
    padding-right: 0;
  }
  .inner-wrap {
    padding: 0 3%;
  }
  .captcha {
    margin: 2px 0 20px;
  }
  #file_boxes2,
  #files_select_template,
  #files_select_template_1 {
    margin: 0;
    /* Not sure why this was there,
      but prevents height expansion with mobile
      publish uploads,
      leading upload fields to overlap captcha and other
      elements below */
  }
  .page-publish hr {
    margin: 14px 0 0;
  }
  .rightcol {
    display: none;
  }

}

/* @media (max-width: 450px) {

  .masttitle,
  .masttitleshadow {
    display: none;
  }
  .masttitle.indybay,
  .masttitleshadow.indybay {
    display: block;
  }
  .page-santacruz .masttitle.indybay,
  .page-santacruz .masttitleshadow.indybay {
    display: none;
  }
  .page-santacruz .masttitle.santacruz,
  .page-santacruz .masttitleshadow.santacruz {
    display: block;
  }

} */

@media (max-width: 360px) {

  .mastleft {
    width: 358px;
  }
  .hed .feature-blurb-date {
    font-size: .9rem;
  }

}

@media (max-width: 320px) {

  .mastleft {
    width: 358px;
  }
  .hed .feature-blurb-date {
    font-size: .9rem;
  }
  .headertab-bttn {
    margin: 3px 1px 0 1px;
    padding: 5px 6px 0 6px;
  }

}
