@charset "UTF-8";
/*
  // BLUES: 728BB0, 8DA3C4, D4DCE8
  // BROWNS: B0946D, C9B191, D9CCBA
  // REDS: BF413F, C46262, D4AEAE
  // YELLOWS: A69D29, BDB74B, E0DD9B
  // ORANGES: B07819, CC9B52, D4C0A1
  // PURPLES: 694C8F, 8D78AD, BFB0D4
  // GREENS: 41703D, 6E996A, 9EB89C, NEW: #31971d
*/
.mast {
  background: #6e996a;
}
.mastcheer img {
  color: #6e996a;
}
.mastright img {
  color: #728bb0;
}
.headerbutton {
  background-color: rgba(212,220,232,.8);
  border: 1px solid #6e996a;
}
/* .headerbutton:hover {
  background-color: rgba(65,112,61,.9);
  border: 1px solid #a2c09f;
} */
.headerbutton.active {
  background-color: rgba(65,112,61,1);
  border: 1px solid #a2c09f;
}
.headermenu {
  border: 1px solid #a2c09f;
}
.headermenu a,
.headermenu a:visited,
.headermenu div span {
  background-color: rgba(65,112,61,.9);
  border-bottom: 1px solid #a2c09f;
}
.headermenu div span {
  font-size: 1.15rem;
  color: #fff;
  font-weight: bold;
  background-color: rgba(65,112,61,1);
}
.headermenu a.thisfeatured,
.headermenu a:hover {
  background-color: rgba(158,184,156,1);
}
.headermenu .regionmap {
  background-color: rgba(65,112,61,.9);
}
.category-header-box h1 {
  color: #255325;
}
blockquote {
  border-left: 10px solid #9eb89c;
}

input[type=text]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
textarea:focus,
select:focus {
  border: 1px solid #31971d;
}
.webcast a:hover,
.bgult a:hover,
.comment_articlepreview a:hover {
  color: #31971d;
}

a.navbarlink {
  background: #41703d;
}
a.navbarlink:hover {
  background: #9eb89c;
}

.pageheadbox {
  border: 1px solid #6e996a;
  background: #9eb89c;
}
a.headline-text:active {
  background: #9eb89c;
}
a.newswire:active {
  background: #9eb89c;
}
a.publink:active {
  background: #9eb89c;
}
a.publishlink:active {
  background: #9eb89c;
}
a.nav:active {
  background: #9eb89c;
}
a.bar:active {
  background: #9eb89c;
}

.archivelink {
  border: 1px solid #85ab81;
}
.archivelink2 {
  background: #ccdaca;
  border: 1px solid #85ab81;
}

.module-header h1 {
  color: #255325;
}
.newswirehead,
.module-header,
.module-unified-border .module-inner {
  border-color: #85ab81;
}
.module-header {
  background: #ccdaca;
  border-top: 1px solid #85ab81;
  border-bottom: 1px solid #85ab81;
}
.module-unified-color {
  background: #f8fbf7;
}
/* .module-header-top {
  background: #ccdaca;
  border-bottom: 1px solid #85ab81;
} */
/* .module-unified {
  background: #f8fbf7;
}
.module-inner-horiz {
  background: #f8fbf7;
} */
.featurelistitem a:hover {
  background: #6e996a;
}
.thisfeaturelistitem a:hover {
  background: #6e996a;
}
.subscribe_item:hover {
  background: #9eb89c;
}

.rightcol {
  background: #f8fbf7;
}
div.newswire {
  border-left: 1px solid #a2c09f;
}
.newswirehead {
  background: #ccdaca;
}
/* .nooz {
  margin: 7px 0;
  border: none;
} */
.bodyClass {
  background: #6e996a;
}
.bgcolor {
  color: #6e996a;
  background: #333;
}

.headers {
  border: solid 1px #6e996a;
  /* background: #9eb89c; */
  background: #ccdaca;
}
.headers-comment {
  border: solid 1px #6e996a;
  background: #9eb89c;
}
.comments_list {
  border: solid 1px #6e996a;
}
.addcomment {
  border: solid 1px #6e996a;
}
a.headlines-cat:active {
  background: #9eb89c;
}

.subscribe_header {
  color: #41703d;
}

.footer {
  border-top: 1px solid #6e996a;
  background: #9eb89c;
}
.disclaimer {
  border: solid 1px #6e996a;
}

@media (min-width: 1041px) {

  #headerbutton-about {
    display: none;
  }
  .headerbutton:hover {
    background-color: rgba(65,112,61,1);
    border: 1px solid #a2c09f;
  }

}

@media (max-width: 1040px) {
  #headerbutton-about-inner {
    background: #9eb89c;
  }
  a.navbarlink {
    background: #6e6e6e;
  }
  a.navbarlink:hover {
    background: #fff;
  }
}
